[2020-09-20 04:36] rainliu opened #1 "[RTP] add more unit tests in packet_test.rs"
//TODO: TestRFC8285OneByteMultipleExtensionsWithPadding
//TODO: ...
//TODO: TestRoundtrip

[2020-10-14 17:30] rainliu opened #2 "[srtp] add CipherAeadAesGcm implementation"

[2020-10-30 15:48] chrisprobst opened #3 "Project roadmap"
Hi, first of all, I am a Pion lover. It's great to see movement in the Rust world. Since this project is very recent, how serious is this project? I am planning long-term for some of our software components. Rust might be valuable for us but we need WebRTC support. So don't get my question offensive in any way. Just curious if this is something I could base our stack on in the future.

Cheers
Chri

[2020-10-30 16:25] rainliu commented on #3
Hi @chrisprobst,

Thanks for bringing up this issue. I am a Pion lover too and also a Rustacean. That's why I'd like to port Pion to Rust. Yes, I am taking this project seriously. But I can only work on this project on weekend days. Therefore, this project needs community's help to speed up the development. Contributors or pull requests are welcome.

Rain

[2020-10-30 18:25] rainliu commented on #3
@Sean-Der,

Thanks for your mentioning this project in Slack #pion, and suggestions how to build a community for this project.

If you are willing, I can invite you as a member of this project.

Rain

[2020-11-01 04:56] rainliu opened #5 "fix Github Actions's fmt --all -- --check"
cargo fmt --all -- --check

/usr/share/rust/.cargo/bin/cargo fmt --all -- --check
thread 'main' panicked at 'bad span: `.`: ``', src/tools/rustfmt/src/source_map.rs:52:13
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
thread 'main' panicked at 'bad span: `.`: ``', src/tools/rustfmt/src/source_map.rs:52:13

[2020-11-01 04:58] rainliu commented on #5
@TaKO8Ki,

Could you take a look?

[2020-11-01 05:00] rainliu opened #6 "fix cargo clippy warning"

[2020-11-01 05:04] TaKO8Ki commented on #5
@rainliu
Ok. I'm going to tackle this issue!

[2020-11-01 05:07] Sean-Der commented on #3
@rainliu I would love to join!

You are the leader/creator of the project. So tell me what I can do to help :)

I would love to get a simple DataChannels example working. If we can make that happen I think you will get a huge amount of interest!

[2020-11-01 06:52] #5 closed

[2020-11-01 07:20] TaKO8Ki commented on #6
Can I tackle this issue?

[2020-11-01 20:40] #6 closed

[2020-11-15 00:47] #2 closed

[2020-11-15 01:03] metaclips commented on #3
@rainliu can we create issues splitting todos? I plan on contributing constantly and need to know tasks to be done.

[2020-11-15 07:10] Sean-Der commented on #3
@rainliu I am happy to sketch out the APIs that it would take in ICE + PeerConnection to get a MVP going! I can create the issues. If you do that and then share you will get even more people.

With Pion the most difficult thing was changing bad public APIs. So would love to share that knowledge. Things like Trickle ICE, Media APIs and re-negotiation were really painful :)

[2020-11-15 21:31] rainliu commented on #3
@Sean-Der, sure, please go ahead to create the issues. Thanks.

[2020-11-16 10:05] breebee commented on #3
If webrtc has all these obstacles due to networking NAT traversals and firewalls or whatever, could there be a way to implement something like GNU GNS in a webassembly WASM/WASI module served over https to resolve and make the peer connections directly from the resolver?

**PS, I actually passed by pion just because it wasnt Rust :) I am actually really excited about this port!

[2020-11-16 23:41] breebee commented on #3
For example instead of using a signaling mechanism, use the hash table which the server acts as a public peer point of access. Too far out?

[2020-11-17 06:40] rainliu opened #12 "[DTLS] add more cipher_suite implementations"
Pion implements the following cipher suites, but here only CipherSuiteTLSEcdheEcdsaWithAes128GcmSha256/CipherSuiteTLSPskWithAes128GcmSha256 and CipherSuiteTLSEcdheEcdsaWithAes256CbcSha are implemented.

[code]

[2020-11-17 06:41] rainliu opened #13 "[DTLS] implement crypto_ccm.rs"
as title

[2020-11-20 08:31] rainliu commented on #1
@metaclips, Let me assign this to you since you are working on it

[2020-11-20 09:10] metaclips commented on #1
@rainliu Seems I'll have to be a collaborator/member for that.

[2020-11-20 17:55] rainliu opened #15 "[DTLS] dtls build failure in Target x86_64-pc-windows-gnu"
DTLS uses x509-parse(https://docs.rs/x509-parser) and x509-parse uses ring (https://github.com/briansmith/ring).
It looks like ring doesn't work in target x86_64-pc-windows-gnu. However, it supports x86_64-pc-windows-msvc.

[2020-11-20 18:06] rainliu opened #16 "[All] try to use bytes crate (https://docs.rs/bytes) as much as possible to improve performance"
Currently, Vec\<u8\> is widely used in webrtc.rs stack. However, it is not efficient.

Idiomatic way should use bytes crate (https://docs.rs/bytes) for zero-copy network programming.

bytes is a more robust, and often more performant, way to play with bytes compared to Vec\<u8\>.

This issue depends on issue #17 - #20. With the help of benchmarks, we can measure what's the improvement of usage of

[2020-11-20 18:14] rainliu opened #17 "[SDP] benchmark the performance of SDP"
add benchmark code for SDP so that we can understand what's performance of SDP

[2020-11-20 18:15] rainliu opened #18 "[RTP] benchmark the performance of RTP"

[2020-11-20 18:16] rainliu opened #19 "[SRTP] benchmark the performance of SRTP"

[2020-11-20 18:16] rainliu opened #20 "[RTCP] benchmark the performance of RTCP"

[2020-11-26 14:17] zeroclock commented on #13
@rainliu
I've started to implement this feature and created draft PR.
If duplicate work, please reject it.

[2020-11-29 16:06] rainliu opened #24 "[DTLS] add NamedCurve::X25519 and NamedCurve::P384 support"
Currently only NamedCurve::P256 is supported.

https://github.com/webrtc-rs/webrtc/blob/master/dtls/src/curve/named_curve.rs

[2020-11-29 16:08] rainliu opened #25 "[DTLS] add self-signed certificate support"

[2020-11-29 17:29] rainliu opened #26 "[DTLS] improve performance of cipher_suite_* without Arc<Mutex<*>>"
Cipher Suite, i.e., CipherSuiteTLSEcdheEcdsaWithAes128GcmSha256, CipherSuiteTLSEcdheEcdsaWithAes256CbcSha, uses Arc<Mutex<*>>. However, Atmoic should be used to improve the performance.

[2020-11-30 17:15] rainliu commented on #26
close it with commit https://github.com/webrtc-rs/webrtc/commit/332a0da4d963c32733568684ff8bc56a6d7faedd

[2020-11-30 17:15] #26 closed

[2020-12-01 05:34] rainliu commented on #13
close this issue as it is implemented in https://github.com/webrtc-rs/webrtc/pull/22

[2020-12-01 05:34] #13 closed

[2020-12-01 05:35] rainliu commented on #12
@zeroclock, are you interested in be owner of this task?

[2020-12-01 05:47] zeroclock commented on #12
@rainliu
Yes, I'm interested in implementing them.

[2020-12-01 21:07] rainliu opened #27 "[All] fix marshal<W: Write>(&self, writer: &mut W) interface issue for byte slice"
For BufWriter, if you uses

let mut writer = BufWriter::new(&mut buf);
or
let mut writer = BufWriter::<&mut Vec<u8>>::new(dst.as_mut());
BufWriter will append data to the Vec buffer.

If you uses

let mut writer = BufWriter::new(buf.as_mut_slice());
BufWriter will mutate the buffer data, but the drawback is that if buffer is not big enough, BufWriter won't increase the buffer size.

We need to fin

[2020-12-03 05:39] rainliu commented on #27
https://github.com/webrtc-rs/webrtc/commit/11d5fd22ec8419f96c0c191bb6e9ed19477b8f55 could solve this issue.

We need to call writer.flush()? at the end of each marshal() function.

[2020-12-03 05:57] rainliu commented on #27
fixed in https://github.com/webrtc-rs/webrtc/commit/34d7df2a34a2341d09ad3fe4e4b4599599f0c640

[2020-12-03 05:57] #27 closed

[2020-12-06 08:09] rainliu commented on #12
Thanks @zeroclock for adding CCM-related cipher suites implementation!

Now we only have TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 and TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA left.

[2020-12-07 18:48] #12 closed

[2020-12-09 15:14] zeroclock commented on #24
Hi, @rainliu .
Can I work on this issue? I've started to implement `NamedCurve::X25519` .

[2020-12-10 06:57] rainliu commented on #25
solved this issue in commit https://github.com/webrtc-rs/webrtc/commit/1aba4f2cb1f5af70888f0b349bc7002bfa4af529

[2020-12-10 06:57] #25 closed

[2020-12-12 18:46] rainliu opened #34 "[DTLS] add cancel/timeout channel/context to Conn?"

[2020-12-12 19:26] rainliu opened #35 "[DTLS] fix certificate verify issue"

[2020-12-13 07:10] rainliu opened #36 "[SRTP/DTLS] consider totally switch RustCrypto crates to Ring/webpki crates"

[2020-12-13 07:23] #35 closed

[2020-12-13 07:26] rainliu opened #37 "[DTLS] implement RootCAs/ServerName for verifyServerCert and ClientCAs for verifyClientCert"

[2020-12-13 07:28] rainliu commented on #15
It is due to Ring's limitation https://github.com/briansmith/ring
switch to x86_64-pc-windows-msvc will fix this issue.

[2020-12-13 07:28] #15 closed

[2020-12-14 05:37] rainliu commented on #37
close it with commits: https://github.com/webrtc-rs/webrtc/commit/e91381e93dec4cdc109ef6fa9e8177b82056bd7e, https://github.com/webrtc-rs/webrtc/commit/43c8d39267da3d2c701817cc55a80f896c8a38ee, https://github.com/webrtc-rs/webrtc/commit/b86122b11889e915ed66c783fbe699e8b36329a5

[2020-12-14 05:37] #37 closed

[2020-12-14 05:43] rainliu opened #41 "[DTLS] add DTLS examples to interoperate with https://github.com/pion/dtls/tree/master/examples"

[2020-12-14 05:43] rainliu opened #42 "[DTLS] add E2E test as https://github.com/pion/dtls/tree/master/e2e"

[2020-12-21 08:27] metaclips opened #43 "[ALL] proper error handling with thiserror + anyhow"
Add proper distinct error handling across all crates.

[2020-12-21 08:31] metaclips opened #44 "[ALL] implement Debug to defined trait"
Implement Debug to all defined traits so as to easily log trait data

[2020-12-24 18:30] rainliu opened #45 "[STUN] add more examples for stun"

[2021-01-07 00:42] falconmick commented on #3
@Sean-Der damn lol your everywhere I look

[2021-01-07 02:22] falconmick opened #46 "Good first pr?"
Hi I’m looking to try and help out with the migration from pion, very new to rust but not to programming (and I’ve been using pion)

would there be a best place to help?

[2021-01-07 04:18] rainliu commented on #46
Thanks for providing help.

How about issue #45? adding more stun cmd examples as https://github.com/pion/stun/tree/master/cmd.

or similar issues #41 and #42 for DTLS.

[2021-01-07 05:32] falconmick commented on #46
Thanks

[2021-01-07 17:16] falconmick commented on #46
Congrats on mDNS, so close to a viable 1.0 rc

[2021-01-11 14:18] Sparika commented on #3
Hi everyone. I'm looking into using WebRTC-rs, a MVP PeerConnection would be enough to start. Is there any progress on the roadmap/API/list of issues? I need to decide between that or pion. ;)

[2021-01-11 17:13] rainliu commented on #3
PeerConnection is not ready yet. We are still working on TURN/ICE.

You can alway use Pion for your proof of concept.

[2021-01-16 00:53] djKooks commented on #45
Is there example for other protocols? It will be helpful to user to test on 🤔

[2021-01-16 05:48] trivigy commented on #3
@rainliu this is awesome. I would love to help out in some ways with writing code. I wrote a bunch of the pion's go code. The whole SDP state based parsing was my rewrite. Since I have migrated quiet fully into rust I should be able to help pretty much anywhere in the stack. Will start looking through the code until I find some place I can contribute. Is there a rust specific community chat going

[2021-01-16 07:01] rainliu commented on #3
@trivigy, thank you for offering the help. Please look around the code base to find any place you would like to contribute. Webrtc-rs needs more contributions from the community so we can speed up the developement.

[2021-01-16 19:56] trivigy commented on #3
@rainliu If not, you care if I set up one?

[2021-01-16 20:30] rainliu commented on #3
@trivigy, please go ahead to set up. Thank you.

[2021-01-17 04:10] trivigy commented on #3
For posterity leaving this here https://discord.gg/4Ju8UHdXMs. I make a few PRs on this repo, `ice`, and `sdp` since those are the first ones I am giving a read first. But I'll keep updating things as I go.

[2021-01-20 18:05] vi opened #49 ""WebRTC stack" image in README contains a broken footnote"
I expect that `*` to lead a phrase like "Typically UDP, but can use TCP as well if needed", but in reality it just dangles.

[2021-01-20 18:16] rainliu commented on #49
Just remove * to remove the confusion.

[2021-01-20 18:16] #49 closed

[2021-01-26 17:28] falconmick opened #50 "Has anyone written a sampler?"
Hi all!

Probably not the best place to ask but I also don’t know where else. I am in the process of writing a video muxer which reads RTP streams and outputs them via OpenGL. Given I am using pion as the WebRTC side of things (for now, but given my OpenGL app is rust based I am able to use the RTP package from this org) I am basing my approach on the. ion-avp builder https://github.com/pion/ion-a

[2021-01-27 02:20] falconmick commented on #50
I feel like this would be better suited for a discord or slack. Would you be open to using one of the two?

[2021-01-27 02:39] rainliu commented on #50
We have already setup discord: https://discord.gg/4Ju8UHdXMs.

[2021-01-27 04:00] falconmick commented on #50
Thanks will move this

[2021-01-27 04:00] #50 closed

[2021-01-30 17:58] #46 closed

[2021-01-30 17:59] rainliu opened #51 "[util] port pion's vnet to util/vnet"
https://github.com/pion/transport/tree/master/vnet

[2021-01-31 08:38] rainliu opened #52 "[TURN] add more examples"

[2021-01-31 09:53] metaclips commented on #52
@rainliu we should move this issue to the TURN repo

[2021-01-31 17:49] rainliu commented on #52
Move to https://github.com/webrtc-rs/turn/issues/1

[2021-04-04 17:01] rainliu opened #55 "[All] add Documentations for all crates"

[2021-04-04 17:01] #51 closed

[2021-04-04 17:04] rainliu opened #56 "[All] improve APIs of all crates"
Follows the following documents to improve APIs of webrtc-rs crates to make them more idiomatic rust:

Rust API Guidelines: https://rust-lang.github.io/api-guidelines/about.html
Rust Design Patterns: https://rust-unofficial.github.io/patterns/intro.html
Elegant Library APIs in Rust: https://deterministic.space/elegant-apis-in-rust.html

[2021-04-04 18:11] rainliu opened #57 "[All] add Context similar mechanism like golang"
like https://golang.org/pkg/context/.

Existing rust crate candidates:
https://docs.rs/io-context/0.2.0/io_context/
https://docs.rs/ctx/0.2.0/ctx/

[2021-05-03 19:16] rainliu opened #60 "TURN example work just once"

[2021-05-03 19:16] rainliu opened #61 "TURN example work just once"
hello
when i run TURN example it's works just once
turn args
[code]

and tested with
[code]

give me valid params just first time i click gather

*port-forwarding and NAT enabled in router and my public ip have DDNS

_Originally posted by @Ali-Mirghasemi in https://github.com/webrtc-rs/webrtc/discussions/59_

[2021-05-03 19:16] #60 closed

[2021-05-08 21:22] Ali-Mirghasemi opened #64 "[TURN] disable "sfrlx" response for some TURN users"
hi
is it possible to disable STUN response (sfrlx) for some users and force them to use relay?

[2021-05-16 17:05] rainliu commented on #61
@metaclips , would you like to take a look at this issue?

[2021-05-17 05:10] metaclips commented on #61
Will take a look

[2021-06-01 05:28] rainliu commented on #34
use tokio::time::timeout()

[2021-06-01 05:28] #34 closed

[2021-06-01 05:29] rainliu commented on #57
no need for rust. Just use tokio::time::timeout or similar.

[2021-06-01 05:29] #57 closed

[2021-06-05 17:13] rainliu opened #67 "[ICE/STUN] replace crc32fast with crc"
crc32fast should be replaced with crc crate, due to crc32fast issue found in sctp crate

[2021-06-06 06:03] u-03c9 commented on #67
Hi, can I try tackling this issue? also, is there a reason for using `crc` 1.8.1 instead of 2.0?

[2021-06-06 06:04] rainliu commented on #67
sure. It is better to use the latest version of crc.

[2021-06-06 06:05] rainliu commented on #67
@u-03c9 , I assign this task to you. You can also upgrade crc in sctp crate to the latest version.

[2021-06-06 08:37] u-03c9 commented on #67
I am a beginner. So, please let me know if the code needs any modifications.

[2021-06-06 15:27] rainliu commented on #67
LGTM, accepted all PRs.

[2021-06-06 15:27] #67 closed

[2021-06-06 15:28] rainliu commented on #67
Thank you for the fix

[2021-06-23 03:55] rainliu commented on #43
recommendation:  thiserror + anyhow

https://docs.rs/thiserror/
https://docs.rs/anyhow/

[2021-06-28 06:52] rainliu opened #69 "[UTIL/DTLS/SRTP] refactoring trait KeyingMaterialExporter"
move trait KeyingMaterialExporter to util crate
impl KeyingMaterialExporter for dtls::state
use KeyingMaterialExporter in srtp::config

[2021-06-29 16:19] rainliu opened #70 "[RTP] add VP9 Payloader/depacketizer"
move https://github.com/webrtc-rs/rtp/issues/11 to here

[2021-06-29 16:28] #18 closed

[2021-06-29 16:30] rainliu opened #71 "[SCTP] Complete three timer related unit tests and one FIXME unit test"
move https://github.com/webrtc-rs/sctp/issues/2 to here

[2021-06-29 16:30] rainliu opened #72 "[SCTP] state cookie generation"
move https://github.com/webrtc-rs/sctp/issues/1 to here

[2021-06-30 12:07] koushiro opened #73 "why not use cargo workspace instead of git submodule?"

[2021-06-30 13:09] #44 closed

[2021-06-30 21:55] rainliu commented on #73
under [webrtc/crates](https://github.com/webrtc-rs/webrtc/blob/master/crates/Cargo.toml), we do use cargo workspace with the usage of git submodule.

I believe this combines both advantages of cargo workspace and git submodule. It means
1). use separate git repo for each crate, so that it can be also used outside of webrtc-rs project too.
2). cargo workspace under webrtc/crates with git submodule

[2021-06-30 21:57] #73 closed

[2021-07-01 05:41] rainliu opened #74 "[RTP] add more unit tests from pion rtp's packet_test.go"
There are many unit tests in https://github.com/pion/rtp/blob/master/packet_test.go
TestRFC8285******

[2021-07-01 05:46] #74 closed

[2021-07-03 06:53] #43 closed

[2021-07-04 15:13] #69 closed

[2021-07-04 15:14] #3 closed

[2021-07-04 15:14] #16 closed

[2021-07-04 19:52] cloudybyte commented on #36
Why do you want to switch? From what I've heard ring is harder to maintain and use...

[2021-07-04 20:36] rainliu commented on #36
I don’t have too much preference, just want to simplify the dependency on one crypto crate.

[2021-07-04 21:36] Andrepuel opened #75 "[STUN] Coturn server discards TURN packets when the FINGERPRINT attribute is present"
I did a simple test with using turn crate where I communicated with a TURN server running Coturn software.

Most of the packets my turn client sent to the server were discarded. When I commented out the FINGERPRINT attribute on the source code, i.e. the STUN packets will not contain FINGERPRINT attribute anymore, then the issue is solved. I can do a full communication using the TURN server.

Right

[2021-07-04 23:28] rainliu commented on #75
According to https://datatracker.ietf.org/doc/html/rfc8489#section-6.3,
"If the FINGERPRINT extension is being used, the agent checks that the FINGERPRINT attribute is present and contains the correct value.  If any errors are detected, the message is silently discarded."

It may be due to CRC computing issue for FINGERPRINT? (https://datatracker.ietf.org/doc/html/rfc8489#section-14.7)

Does anyon

[2021-07-05 00:22] Andrepuel commented on #75
I've compared the fingerprint code with the one on https://github.com/jselbie/stunserver and found out that the CRC algorithm used there is different.

The following patch makes the problem go away:

    diff --git a/src/fingerprint.rs b/src/fingerprint.rs
    index 8b68166..5659512 100644
    --- a/src/fingerprint.rs
    +++ b/src/fingerprint.rs
    @@ -31,7 +31,8 @@ const FINGERPRINT_SIZE: usize

[2021-07-05 03:32] #75 closed

[2021-07-05 04:19] rainliu commented on #75
stun/turn/ice crates are upgraded to v0.2.3

[2021-07-18 16:36] rainliu opened #76 "[All] handle new added Util::Conn trait's close()"

[2021-07-30 22:01] Andrepuel opened #77 "CreatePermission is called for every TURN packet sent"
From the source code

    async fn send_to(&mut self, p: &[u8], addr: SocketAddr) -> Result<usize> {
        // ...
        let mut perm = if let Some(perm) = self.perm_map.find(&addr) {
            *perm
        } else {
            let perm = Permission::default();
            self.perm_map.insert(&addr, perm);
            perm
        };

        let mut result = Ok(());
        for _ in 0..MAX

[2021-07-30 22:27] rainliu commented on #77
Yes, it is a bug in https://sourcegraph.com/github.com/webrtc-rs/turn/-/blob/src/client/relay_conn.rs?L212-218.

Will fix it soon.

[2021-07-30 22:32] Andrepuel commented on #77
Could you confirm this? Upon closer inspection I've found a reference to a timed refresh of permissions:

https://sourcegraph.com/github.com/webrtc-rs/turn@909eac74d669d62202cd89783ef7e6136e1f4026/-/blob/src/client/relay_conn.rs?L600

Does that mean we don't need to track permissions timeout?

[2021-07-31 05:41] rainliu commented on #77
The bug of CreatePermission is called for every TURN packet sent should be fixed in commit # f593cc4d1940a9cbae03ff32d70b33d2f8bda969.

[2021-07-31 23:37] Andrepuel commented on #77
I can confirm that this commit fixes the problem.

[2021-08-04 15:12] #77 closed

[2021-08-04 15:16] Andrepuel opened #78 "[UTIL] Interface listing is not working on Android"
The dependency nix on its version 0.8 does not compile on Android due to a bug in it. Updating it to 0.22 and making a few adjustments on the code makes the compilation ok again, but the final application does not linking due to missing `getifaddrs` on Android.

May I suggest we delegate listing interfaces to a third party crate? https://crates.io/crates/get_if_addrs/0.5.3

Otherwise, we have to c

[2021-08-04 15:40] rainliu commented on #78
Let’s use the latter approach : compile the C code that implements getifaddrs, in order to minimize the changes for other platforms.

[2021-08-04 19:00] #78 closed

[2021-08-07 00:40] tbraun96 opened #79 "Small 1-line fix (add Send to dyn Collector)"
Change

[code]

to

[code]

Otherwise, the stun client is !Send, and cannot be spawned as a task on a threadpool

[2021-08-11 15:22] #70 closed

[2021-08-12 08:59] lolgesten commented on #76
What does this mean? Is there something I can do?

[2021-08-12 09:42] lolgesten commented on #72
According to the RFC:

[code]

And later regarding state cookie generation:

[code]

The current impl creates all resources from start, and doesn't do this "delayed init" via the state cookie. This is probably okay since the SCTP state is bound to the underlying lifetime of the DTLS, which in turn depends on ICE. "Resource attacks" might be unlikely if the lower levels guards for it.

But it begs

[2021-08-12 10:01] lolgesten commented on #64
@Ali-Mirghasemi maybe you can do this using the [`AgentConfig`](https://github.com/webrtc-rs/ice/blob/main/src/agent/agent_config.rs#L96-L97) of the ice agent?

In this array you can set the exact candidate types you allow.

[2021-08-13 15:38] #79 closed

[2021-08-13 21:25] Andrepuel opened #80 "[TURN] Spams Channel-Bind requests every 5 minutes"
Please observe the timestamp on the Channel-Bind requests.
![image](https://user-images.githubusercontent.com/1234937/129419400-cb30aa26-bc69-4554-8566-643cf5cd43fa.png)

These requests were done one after the other. No actual data was transferred while this "burst" was happening. Once all the channel-bind's were done.

I will investigate the source code, but I believe that while the channel-bind

[2021-08-13 21:59] Andrepuel commented on #80
By inspecting the code I think that the problem could be here:

https://sourcegraph.com/github.com/webrtc-rs/turn@1433931e813fa2d17a60c6a8b7a4e8f8f9683d14/-/blob/src/client/relay_conn.rs?L328

The state is set to Refresh within the `tokio::spawn`, depending on how long it takes for the tokio to actually start executing the future, we would have other calls to `send_to` being called and spawing the

[2021-08-13 22:01] rainliu commented on #80
Thanks for investigating this issue, could you submit a PR to fix this issue?

[2021-08-13 22:02] Andrepuel commented on #80
Right away

[2021-08-14 01:33] #80 closed

[2021-08-28 01:45] chet-hub opened #81 "[WebRTC] Need examples of Webrtc"
Please add examples for this project

[2021-08-28 02:01] rainliu commented on #81
Sure, but have to wait unit this crate hits v0.1.0

[2021-09-05 21:26] rainliu opened #82 "[ICE] fix deadlock issue by refactoring agent_internal"
multiple peer connection unit tests have deadlock due to messy ICE’s  agent_internal Mutex deadlock

[2021-09-06 08:09] rainliu commented on #82
Fixed in ice v0.4.0

[2021-09-06 08:09] #82 closed

[2021-09-15 19:32] rainliu opened #84 "[ICE/DTLS/SCTP] refactoring internal with deterministic state machine"

[2021-09-16 04:27] rainliu opened #85 "[DTLS] webrtc-rs <-> pion interop fail due to decrypt failed"
Case 1: webrtc-rs as server,  Pion as client

git clone https://github.com/webrtc-rs/dtls
git clone https://github.com/pion/dtls

1. Run webrtc-rs's listen/selfsign:
    cargo run --example listen_selfsign
2.  Run pion's dial/selfsign:
    go run examples/dial/selfsign

listening 127.0.0.1:4444...
type 'exit' to shutdown gracefully
src/handshaker.rs:201 [TRACE] 21:23:27.753983 - [handshake:server]

[2021-09-16 04:32] rainliu commented on #85
Case 2:  webrtc-rs as client, Pion as server:

1. Run pion's listen/selfsign:
go run examples/listen/selfsign

2. Run webrtc-rs's dail/selfsign:
cargo run --example dail_selfsign

Listening
dtls TRACE: 21:29:40.868565 conn.go:268: Handshake begin...
dtls TRACE: 21:29:40.868684 handshaker.go:163: [handshake:server] Flight 0: Preparing
dtls TRACE: 21:29:40.868698 handshaker.go:163: [handshake:server

[2021-09-16 22:54] rainliu opened #86 "[DTLS] add cancel handling during handshake stage"

[2021-09-17 01:30] rainliu commented on #85
Now GCM crypto suite works well, but CBC still fail due to another issue. Looks like fragment handling

[2021-09-17 06:18] rainliu opened #87 "[DTLS] fix certificate_verify when interop with pion"
when client_auth: ClientAuthType::RequireAnyClientCert is set in config, webrtc-rs 2 webrtc-rs work fine, but webrtc-rs 2 pion failed due to verify_certificate_verify error

[2021-09-17 06:25] rainliu commented on #85
More debug info in CBC issue:

Here is Pion's CBC encrypt:

tls TRACE: 21:47:48.044541 conn.go:417: [handshake:client] -> Finished (epoch: 1, seq: 3)
dtls DEBUG: 21:47:48.044553 conn.go:547: [handshake:client] -> processHandshakePacket before len() 37, [22 254 253 0 1 0 0 0 0 0 0 0 24 20 0 0 12 0 3 0 0 0 0 0 12 61 238 20 207 92 160 201 65 129 182 245 106]
dtls DEBUG: 21:47:48.044573 conn.go:550: [

[2021-09-17 17:54] Andrepuel commented on #85
https://github.com/Andrepuel/dtls/commit/f8c06ae3a5677b075f4cc56f1f00f28c4ce125c5

We are missing IV handling and HMAC handling on decrypt.

Besides that, Pion is not implementing PCKS7 as we are expecting on our side.

[2021-09-18 02:41] #85 closed

[2021-09-18 21:59] rainliu commented on #87
Now the following config passed interop with pion, but ClientAuthType::RequireAndVerifyClientCert mode is still failed. Not a blocker for webrtc 0.1.0 release.

let cfg = Config {
        certificates: vec![certificate],
        extended_master_secret: ExtendedMasterSecretType::Require,
        client_auth: ClientAuthType::RequireAnyClientCert, //RequireAndVerifyClientCert,
        roots_cas: cert

[2021-09-18 22:00] #87 closed

[2021-09-18 22:00] rainliu opened #88 "[DTLS] fix ClientAuthType::RequireAndVerifyClientCert mode"
this mode failed the interop with pion, and even between webrtc-rs and webrtc-rs

[2021-09-18 22:22] rainliu commented on #88
failed due to https://github.com/webrtc-rs/dtls/blob/main/src/crypto/mod.rs#L384

pub(crate) fn verify_client_cert

[2021-09-18 22:57] rainliu commented on #88
Fixed in webrtc-dtls = "0.4.8"

[2021-09-18 22:57] #88 closed

[2021-09-19 16:00] rainliu opened #89 "[DTLS] fix WebRTC Data-Channels-Create example get peer connection failed after DTLS handshake complete"
Some unsupported Extension Types are received in ClientHello msg:
crates/dtls/src/handshake/handshake_message_client_hello.rs:173 [WARN] Unsupported Extension Type 0 35
crates/dtls/src/handshake/handshake_message_client_hello.rs:173 [WARN] Unsupported Extension Type 0 13
crates/dtls/src/handshake/handshake_message_client_hello.rs:173 [WARN] Unsupported Extension Type 0 14

most like ClientHello pa

[2021-09-19 18:02] rainliu commented on #89
still extension parse issue, fixed in DTLS v0.4.11

[2021-09-19 18:02] #89 closed

[2021-09-20 03:07] rainliu opened #90 "[WebRTC] use RTC prefix to all data structs in webrtc crate to align with WebRTC spec"
In WebRTC spec (https://www.w3.org/TR/webrtc/),  RTC prefix is used.
In order to align with spec, the following data structs need to be renamed:
Configuration -> RTCConfiguration
PeerConnection -> RTCPeerConnection
DataChannel -> RTCDataChannel
....
...
...

[2021-09-20 04:32] rainliu opened #91 "[WebRTC] fix ORTC example interop issue with Pion"

[2021-09-20 04:33] rainliu commented on #91
for ORTC example (https://github.com/webrtc-rs/webrtc/tree/master/examples/ortc), webrtc-rs can talk to webrtc-rs, but not Pion.

[2021-09-20 06:19] rainliu commented on #90
done with v0.0.13

[2021-09-20 06:19] #90 closed

[2021-09-20 12:47] rainliu opened #93 "[WebRTC] join interop tests in https://github.com/sipsorcery/webrtc-echoes"
Interoperability Tests with other webrtc implementation in
https://github.com/sipsorcery/webrtc-echoes

[2021-09-20 12:58] rainliu commented on #81
@chet-hub , I have started adding examples of how to use webrtc-rs for both media and data channel APIs

Now, examples of data channels API are ready.

More examples of media API are on the way.

[2021-09-20 15:49] himanshu007-creator commented on #93
Hi, I would like to work on this issue. Can you guide me further on what needs to be done?🙂

[2021-09-20 15:52] rainliu commented on #93
Please follows the spec docs in https://github.com/sipsorcery/webrtc-echoes/tree/master/doc

[2021-09-20 15:56] himanshu007-creator commented on #93
in simple terms, what I think it means is, I have to merge the three markdown files right?!

[2021-09-20 16:53] rainliu commented on #93
you need to follow the test spec to write client and server app based on webrtc-rs's API, and submit PR to webrtc-echoes repo.

[2021-09-21 14:50] cloudwebrtc opened #94 "[WebRTC/Media] full webrtc client stack."
The feasibility of replacing google libwebrtc with webrtc-rs,
We need to port several key modules of libwebrtc, NetEQ, audio 3A(AEC, AGC, NS), audio/video codec, and other parts that can be replaced by the rust library.
rust has a good audio and video library,
audio: [cpal](https://github.com/RustAudio/cpal)
camera: [eye-rs](https://github.com/raymanfx/eye-rs)
screen capture: [scrap](https://githu

[2021-09-22 01:32] rainliu opened #95 "[RTP] update h.264/vp9 packetization code"

[2021-09-23 04:56] rainliu opened #96 "[WebRTC] fix play-from-disk example no sound issue in www, even audio track is sent to www"

[2021-09-23 06:58] englishm commented on #96
This appears to be a sync issue. The audio is present in the SDP (and this matches what pion offers as well):
[code]

Audio data is definitely being sent as well. In some cases it's even possible to briefly hear some audio at the very beginning of playback.

Testing the same 5 second clip with both pion and webrtc-rs, the first difference I notice in webrtc-internals is that for the RTCInboundRTPA

[2021-09-24 07:16] rainliu opened #97 "[WebRTC] double check simulcast example and play-from-disk-renegotiation example"
Pion's simulcast example can receives two streams with rid = "f" and "h"
~~and  play-from-disk-renegotiation example  has video grid when click add video multiple times.~~

[2021-09-24 20:43] rainliu commented on #97
double check
1). why simulcast example always receives one stream with rid="f" (full resolution)
2). why play-from-disk-renegotiation example can't add more grid

[2021-09-24 21:34] rainliu commented on #81
all examples are added in https://github.com/webrtc-rs/webrtc/tree/master/examples

[2021-09-24 21:34] #81 closed

[2021-09-25 01:18] rainliu commented on #91
confirmed, this interop issue is due to different json serialize logic in go and rust for Signal struct. Close this task

PIon:
{"iceCandidates":[{"foundation":"1169774875","priority":2130706431,"address":"10.0.0.242","protocol":1,"port":50108,"type":1,"component":1,"relatedAddress":"","relatedPort":0,"tcpType":""},{"foundation":"272956506","priority":1694498815,"address":"24.130.70.82","protocol"

[2021-09-25 01:18] #91 closed

[2021-09-25 01:40] rainliu commented on #96
From chrome://webrtc-internals/,
pion's play-from-disk has non-zero audioOutputLevel output,

but webrtc-rs has always zero value audioOutputLevel.

[2021-09-25 03:56] cloudwebrtc commented on #97
fixed by https://github.com/webrtc-rs/webrtc/pull/98.

[2021-09-25 04:30] rainliu commented on #97
for 1). why simulcast example always receives one stream with rid="f" (full resolution)

according to chrome://webrtc-internals/,  webrtc-rs's bweforvideo
googAvailableReceiveBandwidth | 255280
googAvailableSendBandwidth | 300000

but pion has more than 1.5M bandwidth.

Most like due to RTCP feedback is not enabled in webrtc-rs, which cause BWE can't ramp up.

Will create another task to track RTC

[2021-09-25 04:31] rainliu opened #99 "[Interceptor] bring up RTCP feedback for better bandwidth estimation"
In issue https://github.com/webrtc-rs/webrtc/issues/97,  simulcast example always receives one stream with rid="f" (full resolution)

according to chrome://webrtc-internals/,  webrtc-rs's bweforvideo
googAvailableReceiveBandwidth | 255280
googAvailableSendBandwidth | 300000

but pion has more than 1.5M bandwidth.

Most like due to RTCP feedback is not enabled in webrtc-rs, which cause BWE can't ra

[2021-09-25 04:32] cloudwebrtc commented on #97
My guess is that on_track is not triggered, because I have the same problem when testing the `reflect` example. When I try to add audio/video and echo at the same time, I can only trigger the first track.

[code]

[2021-09-25 04:39] cloudwebrtc commented on #97
When I wait for about 1 minute after connecting, h track will be triggered to display. Since then, there have been two tracks f|h.

[2021-09-25 04:48] cloudwebrtc commented on #97
In the implementation of libwebrtc, when we setRemoteDescription, on_track will be triggered (before the ice connection), and then after receiving the data, `track.onunmuted` will be triggered, which means there is data coming.  the `on_track` of pion, webrtc-rs needs track will be triggered when data is received,

So the problem is here, if we can’t receive the other party’s track, we can’t send

[2021-09-25 04:53] cloudwebrtc commented on #97
Anyway, I will find a way to figure out the problem.

[2021-09-25 05:08] rainliu commented on #97
with regard to "reflect" example with audio/video tracks issues, could you check my last commit# https://github.com/webrtc-rs/webrtc/commit/b5824ce5f92a365b7398ae029b20ce460d13ed47 ?

The issue of on_track() can't do long-loop job, we have to tokio::spawn a new task to handle the long-loop job.

[2021-09-25 05:21] cloudwebrtc commented on #97
cool, I will check

[2021-09-25 05:49] cloudwebrtc commented on #97
@rainliu Hey, I added audio track support for `reflect` based on your submission, which works perfectly.
will create a PR later.

https://github.com/cloudwebrtc/webrtc-rs/commit/5cea06234167239b0ca60347043aae9caeb4f6e7

[2021-09-25 05:54] rainliu commented on #97
cool!

let's close this task, and track simulcast issue in https://github.com/webrtc-rs/webrtc/issues/99

[2021-09-25 05:54] #97 closed

[2021-09-25 07:25] #96 closed

[2021-09-25 18:07] rainliu commented on #93
Just submit a PR https://github.com/sipsorcery/webrtc-echoes/pull/41 to webrtc-echoes

[2021-09-25 20:30] rainliu opened #101 "[WebRTC] investigate data-channels-flow-control example throughput performance issue"
Pion has more than 500Mbps+,
[code]

but, webrtc-rs only has around 13Mbps:
[code]

[2021-09-25 20:39] rainliu commented on #101
cargo build --release --example data-channels-flow-control increases performance, but not comparable to pion.

./target/release/examples/data-channels-flow-control
Press ctlr-c to stop
Peer Connection State has changed: connected (offerer)
Peer Connection State has changed: connected (answerer)
OnOpen: data-1. Start sending a series of 1024-byte packets as fast as it can
OnOpen: data-1. Start rece

[2021-09-25 22:50] rainliu opened #102 "[ICE] add UDPMux feature"

[2021-09-26 20:39] rainliu commented on #93
two issues:

1. interop-tests (kurento, webrtc-rs)
https://github.com/sipsorcery/webrtc-echoes/runs/3714395738?check_suite_focus=true

2. interop-tests (webrtc-rs, aiortc)
https://github.com/sipsorcery/webrtc-echoes/runs/3714395809?check_suite_focus=true

[2021-09-27 17:02] #76 closed

[2021-09-27 17:03] #42 closed

[2021-09-30 16:21] shinyoshiaki commented on #93
Hi! I'm the author of werift.
The DTLS negotiation problem between webrtc-rs and werift was caused by the fact that the size of the SerialNumber in the x509 certificate generated by werift was larger than 20 octets in some cases. The cryptographic library of rust seems to validate the size of SerialNumber strictly.
I've fixed the SerialNumber size in werift, which should fix this problem.

[2021-09-30 19:00] #93 closed

[2021-10-01 20:58] rainliu opened #103 "[DTLS/WebRTC] update dep rustls to v0.20.0"

[2021-10-01 21:02] rainliu opened #104 "[SRTP/DTLS] update RustCrypto related deps to the latest version"

[2021-10-02 07:18] rainliu commented on #95
done in https://github.com/webrtc-rs/rtp/releases/tag/v0.4.0

[2021-10-02 07:18] #95 closed

[2021-10-02 07:19] rainliu opened #105 "[Interceptor] add NACK/RR/SR interceptors"

[2021-10-03 06:17] jelmansouri-legion commented on #104
For DTLS, I started doing the work but currently blocked by https://github.com/dalek-cryptography/curve25519-dalek/pull/369, not being pulled, afterwards a PR needs to be done for https://github.com/dalek-cryptography/x25519-dalek with the new version.

[2021-10-05 04:15] whans commented on #101
should be tokio performance limit

some other benchmark

goroutines: 3.22234675s total, 3.222346ms avg per iteration
rust_threads: 16.980509645s total, 16.980509ms avg per iteration
rust_tokio: 9.56997204s total, 9.569972ms avg per iteration
rust_tokio_block_in_place: 3.578928749s total, 3.578928ms avg per iteration

https://www.reddit.com/r/rust/comments/lg0a7b/benchmarking_tokio_tasks_and_gorout

[2021-10-05 10:59] algesten opened #106 "Use error enums instead of Anyhow"
Original discussion on discord, and further issue raised here: https://github.com/webrtc-rs/rtp/issues/14

Anyhow is great, but maybe not a good fit for webrtc.rs. To summarize:

* Anyhow is mostly meant for applications, not libraries.
* Anyhow doesn't implement `std::error::Error` ([it can't](https://github.com/dtolnay/anyhow/issues/25)), which makes it hard to interoperate in apps that rely on

[2021-10-05 12:47] algesten commented on #106
First stab at `sdp` is done. Next up I'll do `util`. I want to do from the "bottom up" following the dependency tree, and we won't get a good idea of how this PR will work before we get to the second/third level of dependencies.

[2021-10-05 15:03] algesten commented on #106
@rainliu Would you mind looking at the two first PRs? I'm wondering what you think about it so far. I've hard to maintain the convenience of `?` and `PartialEq`.

[2021-10-05 15:46] vitdevelop commented on #101
@rainliu I made some benchmarks between Go(Pion) and Rust with long running time, maybe will help.

----------------------------------------------
Go(Pion)
From start of benchmark throughput was grow up to 844Mps
[code]
after has been throwed an exception
`mux ERROR: 17:49:45 mux: ending readLoop dispatch error packetio.Buffer is full, discarding write`

and throughput started to go slow down with

[2021-10-05 15:58] vitdevelop commented on #101
@whans Benchmarks was maded on I/O for file, not on socket. Linux have different behavior for files and sockets.
If you will try std's file IO inside `async` block or `task::block_in_place` you will have very fast values.
That is because Linux use read-ahead for files.
Also benchmarks was made on `/dev/urandom` and `/dev/null` which is in-memory files.

@rainliu I suppose that, here example use so

[2021-10-05 17:39] qbx2 opened #107 "datachannel intermittently closes with an error"
Webrtc: 0.1.1
Rust: 1.55 stable

Case 1.
[2021-10-05T17:11:04Z WARN  webrtc_sctp::association] [] failed to read packets on net_conn: Alert is Fatal or Close Notify

Case 2.
[2021-10-05T17:16:18Z WARN  webrtc_sctp::association] [] failed to handle_inbound: chunk too short

In my case, I used datachannel with `max_retransmits = 0, ordered = false`. These errors occurred even without heavy load. Whe

[2021-10-05 19:34] rainliu commented on #107
Thanks for reporting this issue. Do you have webrtc-rs log ? You can take a look examples to see how to enable webrtc-rs log

[2021-10-05 23:17] whans commented on #101
@vitdevelop thanks
compare std::net::UdpSocket vs tokio::net::UdpSocket
std::UdpSocket is almost twice as fast as tokio::UdpSocket

[2021-10-06 01:59] qbx2 commented on #107
Do you mean for me to set RUST_LOG=trace ?

[2021-10-06 02:53] rainliu commented on #107
try to add    https://sourcegraph.com/github.com/webrtc-rs/webrtc@master/-/blob/examples/data-channels/data-channels.rs?L47-60 in your apps and set RUST_LOG=trace

[2021-10-06 03:06] rainliu commented on #106
@algesten, thanks for the efforts.

PR for sdp crate looks good to me.

and I leave some comments on PR for util crate.

[2021-10-06 03:11] rainliu commented on #101
thanks @vitdevelop  and @whans  for the benchmarking.

Look like we need some efforts to profile the hotspots/bottlenecks.

[2021-10-06 05:58] qbx2 commented on #107
I have ran 3 clients to reproduce and the error occurred after 15min+.
FYI) tungstenite is used for signaling
[code]

[2021-10-06 07:22] rainliu commented on #107
@qbx2, thanks for reporting this issue. This issue should be fixed in webrtc v0.1.2.

The bug is due to sctp handle_inbound bug when parsing packet error, instead of returning error, it should just log::warn! this parse error, and return Ok(()) to let read_loop keep running.

https://github.com/webrtc-rs/sctp/commit/d31ccceb71a49226277cd3177fd3ef83cb47ae79

Could you try webrtc v0.1.2 to see the i

[2021-10-06 09:24] qbx2 commented on #107
Still, there is another intermittent closing issue.

[code]

[2021-10-06 09:26] qbx2 commented on #107
I got another log:
[code]

[2021-10-06 10:38] whans commented on #101
add tokio console to check the schedule issue

https://github.com/tokio-rs/console

[2021-10-06 14:36] qbx2 commented on #107
I think this issue can be closed! Super thanks for fast fix. I'll reopen it if needed.

[2021-10-06 16:41] algesten commented on #106
Alright. That's all for me for today. I'll continue tomorrow.

[2021-10-07 18:04] tedsteen opened #110 "Make data::data_channel::DataChannel implement tokio::io AsyncRead and AsyncWrite traits"
For better interoperability with tokio

[2021-10-08 10:32] vitdevelop commented on #101
@whans Sleep in sending task helped for some time

@rainliu After ~5 min I figured out that a lot of tasks `webrtc-sctp-0.3.8/src/timer/[ack,rtx]_timer.rs:[43,153]` was spawned, around 500-600.
Most cpu busy time is in that tasks.
I'm running `cargo run --example data-channels-flow-control`.

I attached the screenshot.
![webrtc_rs_ack_rtc_timer](https://user-images.githubusercontent.com/12158848/1

[2021-10-08 10:59] nothingismagick opened #111 "Tauri Example"
Stable webrtc is something that many people at Tauri have been asking for. It would be nice to see a Tauri example!

[2021-10-09 05:52] rainliu commented on #101
@vitdevelop, thanks for the finding. Could you submit a PR to add tokio-console/console_subscriber to data-channels-flow-control example? so, I can take a look.

[2021-10-09 08:36] #106 closed

[2021-10-10 06:40] rainliu commented on #17
webrtc-rs sdp benchmark: https://github.com/webrtc-rs/sdp/commit/57bb1affe2e7c6e5524afeffe91c171e35cc43fc

[code]

[2021-10-10 06:41] #17 closed

[2021-10-10 08:53] vitdevelop commented on #101
@rainliu Added PR
webrtc-rs/examples#1

[2021-10-15 04:30] rainliu opened #112 "[STUN] benchmark the performance of STUN"

[2021-10-16 04:08] rainliu commented on #112
pion stun
[code]

[2021-10-16 16:30] rainliu commented on #112
cargo bench

BenchmarkMappedAddress_AddTo                        time:   [58.582 ns 58.913 ns 59.320 ns]
BenchmarkAlternateServer_AddTo                        time:   [67.263 ns 67.958 ns 68.809 ns]
BenchmarkAgent_GC       time:   [334.45 ns 340.38 ns 348.49 ns]
BenchmarkAgent_Process  time:   [31.066 ns 31.616 ns 32.422 ns]
BenchmarkMessage_GetNotFound                        time:   [2.9481 ns 2.

[2021-10-16 16:31] rainliu commented on #112
lot of things to improve

[2021-10-16 16:36] rainliu opened #113 "[TURN] benchmark the performance of TURN"

[2021-10-16 18:44] rainliu commented on #113
cargo bench

[code]

[2021-10-16 18:57] rainliu commented on #64
close this task as suggested above.

[2021-10-16 18:57] #64 closed

[2021-10-17 16:31] rainliu opened #114 "[RTP] add H.265 codec support"

[2021-10-18 15:59] richardanaya opened #115 "Question, am I misunderstanding gathering_complete_promise?"
I have some code that's generating an error message when I try to get two peers to connect to each other

In my offer side I wait for "gathering_compete_promise" to finish before getting the offer description.
[code]

this gives me an offer

[code]

but when I send this description to my receiver I get this message:

`set_remote_description called with no ice-ufrag`

Any thoughts? it seems like it

[2021-10-18 18:47] rainliu commented on #115
could you take a look at the example offer-answer? https://github.com/webrtc-rs/examples/tree/main/examples/offer-answer

it may help solve your question.

[2021-10-18 18:52] rainliu opened #116 "[RTCP] add eXtended Report (XR) support"

[2021-10-19 05:43] rainliu commented on #116
added in https://github.com/webrtc-rs/rtcp/commit/75124bcd9ba7706d8d463cb1b02a4ca22300a3cb

[2021-10-19 05:43] #116 closed

[2021-10-19 06:24] rainliu opened #117 "[Interceptor] add TWCC support"

[2021-10-19 16:47] #112 closed, assigned to nobody

[2021-10-19 16:47] #113 closed

[2021-10-19 16:48] rainliu opened #118 "Benchmark and Performance Improvements"

[2021-10-19 19:59] rainliu opened #119 "[All] Mutex performance improvement: asynchronous mutex vs synchronous mutex"
tokio::sync::Mutex vs std::sync::Mutex vs parking_lot::Mutex

change tokio::sync::Mutex to std::sync::Mutex or parking_lot::Mutex when it is not across .await

[2021-10-19 21:07] rainliu commented on #119
For example, don't use std::sync::Mutex or parking_lot::Mutex on the following case, which hold the lock across the .await point.

[code]

[2021-10-20 05:05] qbx2 opened #120 "Datachannel leak"
Steps to reproduce:
1. Set your on_data_channel:
[code]
2. Make connection and close the connection
3. Peerconnection is disconnected and dropped, but `strong_count` of the datachannel never goes to the zero forever

Cause (My guess):
sctp `Association::accept_stream` does not cancel even if the sctp stream is closed.
Therefore, `RTCSctpTransport::accept_data_channels` does not get returned from `

[2021-10-20 05:49] rainliu commented on #120
Thanks for reporting this issue.

Yes, you are right, There is a TODO item in https://sourcegraph.com/github.com/webrtc-rs/webrtc/-/blob/src/data/sctp_transport/mod.rs?L189
[code]

[2021-10-20 05:53] qbx2 commented on #120
So, is there any workaround at the moment?

[2021-10-20 06:35] rainliu commented on #120
just fixed in v0.2.1 release

[2021-10-20 06:35] #120 closed

[2021-10-20 07:02] qbx2 commented on #120
Super thanks for blazingly fast fix! It works very well

[2021-10-21 05:53] rainliu opened #121 "[All] change callback fn from Box<dyn ...> to Arc<dyn ..>"
example:

pub type FnTimeGen = Arc<dyn (Fn() -> Pin<Box<dyn Future<Output = SystemTime> + Send + 'static>>) + Send + Sync>;

The purpose is to avoid potential deadlock by allowing callback fn cloneable and using tokio::spawn to call it without locking

[2021-10-22 16:47] rainliu opened #122 "[All] upgrade all crates from Rust Edition 2018 to Edition 2021"
https://blog.rust-lang.org/2021/10/21/Rust-1.56.0.html

[2021-10-23 18:29] #117 closed, assigned to nobody

[2021-10-23 18:32] rainliu opened #123 "[Interceptor] add example of interceptor"

[2021-10-23 23:00] rainliu opened #124 "[RTP/RTCP/Interceptor] SystemTime vs Instant?"
non-monotonic clock vs monotonically non-decreasing clock

[2021-10-26 06:11] qbx2 opened #126 "File descriptor (socket) leak"
Sockets opened in ICEGatherer seem to be leaked. They will never be closed even when the PeerConnections are closed. Finally, my server becomes unavailable with `too many open files` error.

I've investigated into webrtc's source code, and found that `CandidateBase.close()` is an no-op. Of course, it is because tokio's UdpSocket does not provide `close()`. Despite all, the sockets should be closed

[2021-10-31 01:57] rainliu opened #129 "[Interceptor/Examples][Reflect] register_default_interceptors doesn't work for audio"
[code]

instead of
[code]

[2021-10-31 05:01] rainliu commented on #129
looks like new added "registry = configure_twcc_sender(registry, media_engine).await?;" cause this bug

[2021-10-31 05:52] rainliu commented on #126
I think I have made some progress on reference cycle caused memory leak.

reflect and data-channels-flow-control in examples v0.3.0 branch should be memory leak free now.

I have checked by using nightly rust version with following build
"RUSTFLAGS="-Z sanitizer=leak" cargo build --example reflect

It reports no memory leak.

I will keep checking and fixing other examples to make sure there is no

[2021-10-31 14:34] qbx2 commented on #126
Unfortunately, I don't think the file descriptor leak is fixed yet (on master branch). I am going to look further into it on Monday

[2021-10-31 14:40] qbx2 opened #130 "invalidate_pending_binding_requests occurs panic sometimes"
https://github.com/webrtc-rs/ice/blob/a4514964a32bb0d44408b3d402bc57f156fa4a28/src/agent/agent_internal.rs#L788

This line sometimes occurs panic: supplied instant is later than self

[2021-10-31 14:42] qbx2 commented on #130
The stack is:
[code]

[2021-10-31 14:46] qbx2 commented on #130
I could submit a PR, if the solution is just not to filter when `filter_time - binding_request.timestamp` < 0

[2021-10-31 16:33] rainliu commented on #130
replace duration_since with checked_duration_since?

[2021-10-31 16:54] #130 closed

[2021-10-31 23:53] rainliu commented on #126
All examples in v0.3.0 branch of examples repo passed rc-cycle check. Please note that it requires some changes on callback function:

for example, here we have to use Weak pointer of peer_connection in its on_track callback, otherwise, it will cause reference cycle leak.
[code]

Could you check your code whether have such callback?

[2021-11-01 04:26] qbx2 commented on #126
No, `RTCPeerConnection` is dropped very well, and the file descriptor closes well on normal cases. It seems to be leaked when it fails to connect.

Steps to reproduce:
1. I added the following code to `CandidateBase.close()` (line 255)
[code]
2. Signal(offer) from other peer and forcefully kill the offer-side process
3. Server spams this log for a while
`[2021-11-01T04:17:16Z TRACE webrtc_ice::age

[2021-11-01 15:17] k0nserv commented on #121
It would be nicer for the external interfaces if the signature of functions that specifc callbacks didn't require specifying the smart pointer type e.g.

instead of

[code]
use

[code]

This way it's simpler for the caller and a change like this doesn't change the public interface.

[2021-11-01 15:20] k0nserv commented on #119
@alexlapa

[Tokio's docs](https://tokio.rs/tokio/tutorial/shared-state#on-using-stdsyncmutex) recommend using `std::sync::Mutex` or `parking_lot::Mutex`

[2021-11-07 18:09] rainliu commented on #129
fixed in https://github.com/webrtc-rs/webrtc/commit/ba90c6adb52022637b850b4f6aec305a0302582e

[2021-11-07 18:09] #129 closed

[2021-11-08 07:18] rainliu opened #132 "[ICE] add TCPMux feature"

[2021-11-08 07:18] rainliu commented on #102
just create another ticket https://github.com/webrtc-rs/webrtc/issues/132 to track TCPMux

[2021-11-08 07:19] #102 closed

[2021-11-13 22:47] rainliu commented on #126
@qbx2, I tried to reproduce this issue in ice crate with ping_pong example. From new ping_pong example, ice crate looks like no issue for such leak.

Therefore, I think the leak may come from webrtc crate itself, so I fixed one possible issue in https://github.com/webrtc-rs/webrtc/commit/0944adf54699752897f0bbac2251264da22036c2, where endpoint forgets to call underlying conn.close().

Could you tr

[2021-11-14 05:03] rainliu opened #133 "[Util/TURN/ICE/Interceptor] fix unit tests memory leaks"
with nightly rustc
RUSTFLAGS="-Z sanitizer=leak" cargo test

these four crates have memory leaks

[2021-11-14 07:02] qbx2 commented on #126
I tried webrtc on master branch, but had no luck. :(
Also, I am sorry about the codebase. I have a problem that my code is related to company stuff and that's why I could not share my code details. Therefore, I am going to make an example for reproduction to share with you. (I guess it is difficult to reproduce with the examples because it has different signaling protocol?)

[2021-11-14 14:07] qbx2 commented on #126
@rainliu Please, check this out: https://github.com/qbx2/examples/commit/5f5c3a5001699059b82ce49431fe9c4ee7b11843

[2021-11-14 17:38] rainliu commented on #126
@qbx2, thanks for this example, I can reproduce this issue.

[2021-11-15 07:18] rainliu commented on #126
@qbx2, I think I found the root cause of the bug. https://github.com/webrtc-rs/webrtc/commit/e7d72d22875d05fe447c9336b6ada367400c4b91 should fix this issue.

The root cause is that cancel_tx signal should be set to internal.cancel_tx before call agent.dial or agent.accept, otherwise, calling agent.close() will have no-op on cancellation of dial/accept.
[code]
in your example, you still need to sen

[2021-11-15 07:23] rainliu commented on #126
By the way, in your 50 clients call case, does each client have one peer_connection? If yes, once the following callback has indicated Failed, you may need to close the peer_connection for such client.

peer_connection
        .on_ice_connection_state_change
or
peer_connection
        .on_peer_connection_state_change

[2021-11-15 08:51] qbx2 commented on #126
You're right. The reason that I commented that line out was to keep the process alive so that the leak could be confirmed. Thanks a lot for the advice, I am caring of closing peer_connection.

Yes, they have. However, peer_connections are designed to be dropped when it failed to connect (I use Weak). It has no problem, right?
Also, I've confirmed that https://github.com/webrtc-rs/webrtc/commit/e7d

[2021-11-15 15:55] rainliu commented on #126
thanks for confirm. I just released v0.3.1 to include this fix.

[2021-11-15 15:55] #126 closed

[2021-11-17 22:31] rainliu opened #134 "[examples] Reading stdin: stuck with line longer than 1024 characters in MacOS"
due to this limits in Mac OS, many examples, i.e., ortc, data-channels-create, will be stuck when paste answer to stdin.

Linux works fine.

[2021-11-20 13:26] qbx2 commented on #134
I use `pbpaste | cargo run ...`

[2021-11-20 17:04] rainliu commented on #134
thanks for the suggestion. Just searched the following blog to show how to use it:

How to use pbcopy and pbpaste:
https://medium.com/@codenameyau/how-to-copy-and-paste-in-terminal-c88098b5840d

[2021-11-20 17:04] #134 closed

[2021-11-20 17:08] rainliu commented on #84
We should follow quinn's implementation:

- quinn-proto: Deterministic state machine of the protocol which performs no I/O internally and is suitable for use with custom event loops (and potentially a C or C++ API).
- quinn: High-level async API based on tokio, see for usage. This will be used by most developers. (Basic benchmarks are included.)

[2021-11-20 17:10] #115 closed

[2021-11-21 16:42] rmst opened #135 "UDPMux not controllable through SettingsEngine"
I saw that UDPMux support was added in v0.3.0. However, in the SettingsEngine it's still commented out (https://github.com/webrtc-rs/webrtc/blob/494b052be4ff9d9ec3b1fd43a2ddd8e0c1b0c56e/src/api/setting_engine/mod.rs#L72). What's the correct way to enable UDPMux currently?

[2021-11-21 16:44] rainliu commented on #135
use pub(crate) udp_network: UDPNetwork,

https://github.com/webrtc-rs/webrtc/blob/494b052be4ff9d9ec3b1fd43a2ddd8e0c1b0c56e/src/api/setting_engine/mod.rs#L74

[2021-11-21 16:49] k0nserv commented on #135
Hey 👋🏼,

So we should probably remove that line. When I implemented UDP mux I didn't port the logic directly from Go. Instead I modeled the UDP networking in a way that reflects the mutually exclusive nature of using either many ephemeral UDP sockets bound to random ports or using a single UDP socket.

This is described in the documentation for [`UDPNetwork`](https://github.com/webrtc-rs/ice/blob/

[2021-11-21 16:58] rmst commented on #135
Ah perfect! Thank you both for that super quick response!

[2021-11-21 16:58] #135 closed

[2021-11-21 17:08] rainliu commented on #135
just updated doc too: https://github.com/webrtc-rs/webrtc/commit/f45bb4a35ffd13216cf182c1d699784a10764426

[2021-11-25 19:08] rainliu opened #136 "[SCTP] refactoring internal protocol implementation with deterministic state machine"
As a sub task of https://github.com/webrtc-rs/webrtc/issues/84, similar to quinn's implementation: https://github.com/quinn-rs/quinn

sctp-proto: Deterministic state machine of the protocol which performs no I/O internally.
sctp: High-level async API based on tokio.

[2021-11-27 17:09] MarinPostma commented on #121
I think one further step from what @k0nserv suggests would be to have an interface like so:

[code]

I think that such a trait is object safe, and can be stored in the same way it is done now.

There are 3 major advantages to this:
- No need to box the future
- Easier to pass along state, in tidier ways (boxed closure returning a boxed future is rather unergonomic)
- We can still implement the tra

[2021-11-27 17:20] MarinPostma opened #137 "[webrtc] Add write_buf methods to DataChannel"
Currently,
the `write` and `send` method on `DataChannel` take a `&Bytes` as an argument. While this works well when you have a `Bytes`, sometimes, you only have a `BytesMut`, and freezing it is not an option.

I propose that we introduce a `write_buf<B: Buf>(&self, data: &mut B)`. This methods takes care of advancing the internal buffer and is generic other the passed data type.

I would event su

[2021-11-29 10:02] aegroto opened #138 "Miss of built-in packet loss handling solutions"
Hello,

I'm trying to use this library to make some trials about real-time desktop streaming, but the video stream is nearly immediately corrupted because of packet loss/reordering. What's the suggested approach to handle this kind of issues? I've explored the examples but I can't see anything related to handling network errors, maybe I've missed it.

For anyone interested on exploring the project

[2021-11-29 16:17] rainliu commented on #138
Does configure_nack help your case? https://github.com/webrtc-rs/webrtc/blob/master/src/api/interceptor_registry/mod.rs#L40

[2021-11-29 21:55] aegroto commented on #138
I will give it a try once I can and let you know, thanks!

[2021-12-11 22:48] rainliu opened #141 "H265 Support"
### Discussed in https://github.com/webrtc-rs/webrtc/discussions/140

<div type='discussions-op-text'>

<sup>Originally posted by **yusufziyacs** December 11, 2021</sup>
Hello there.
I've just started using webrtc-rs in order to convert RTSP streams into webrtc. I can easily create connections for H264 mime type. But I need also H265 tacks to be able to add. I see a codec for H265 but as far as I

[2021-12-15 00:52] cloudwebrtc commented on #94
I am trying to investigate the packaging difficulty of several core modules,  we need to try to depend on as few CPP modules as possible.

[2021-12-15 22:24] Pascualex commented on #123
Hi, I'm trying to use the ORTC API to create an `RTCRtpSender`, but the [ORT example](https://github.com/webrtc-rs/examples/tree/main/examples/ortc) only covers the `RTCDtlsTransport`.

The API requires me to pass an interceptor to `new_rtp_sender(...)`, but I don't see the right way to create one. The API has an `interceptor_registry`, but is only accesible by the crate.

Do I need to keep a refe

[2021-12-16 10:17] k0nserv opened #144 "Firefox SDP parsing fails due to missing C line on media level"
Hey,

I noticed that, at least in my [modified reflect](https://github.com/webrtc-rs/examples/pull/7) example, Firefox throws a DOM exception when applying the answer SDP.

<details>
<summary>Example SDP</summary>

[code]
</details>

This causes the following exception to be thrown in Firefox:

[code]

This makes sense, the `c` line is missing for the audio track.

This is the relevant part of the

[2021-12-16 10:42] k0nserv commented on #144
Here's what the relevant RFC([4566 5.7](https://datatracker.ietf.org/doc/html/rfc4566#section-5.7)) says.

_Emphasis mine_.

[2021-12-16 10:48] k0nserv commented on #144
This also happens in the non-modified example

[2021-12-16 22:03] Pascualex commented on #121
I would also appreciate a more ergonomic API.

[2021-12-17 04:17] giangndm opened #145 "Reading rtcp cause loop this take around 100% CPU"
I'm testing RTCP reader in simulcast example then this takes about 100% or more CPU when reading RTCP like

[code]

In webrtc-util/buffer/mod.rs, we see notify always None so the loop will run forever without waiting util return some data

[code]

I think the problem can be resolved by using Notify instead of recreating a new channel every time. If it's ok, I will send a PR.

[2021-12-17 04:21] rainliu commented on #145
Sure, could you also add a benchmark test for Buffer to measure your PR’s improvements?

[2021-12-17 04:29] giangndm commented on #145
@rainliu I will create benchmark test then send PR soon

[2021-12-17 07:47] giangndm commented on #145
@rainliu I just created PR in util repo: https://github.com/webrtc-rs/util/pull/16

Macro benchmarks don't have big improvements but in Simulcast example CPU down from over 100% to several percentages CPU

[2021-12-18 03:43] giangndm commented on #138
I also have the same issues with NACK.
When checking the interceptor module, maybe have an issue on rtcp reader flow when we have more than a stream.

[2021-12-18 04:02] rainliu commented on #145
just updated webrtc git repo's dependency with the latest util crate.

[2021-12-19 17:55] rainliu commented on #144
From original reflect example,

it does have the line "c=IN IP4 0.0.0.0" for both audio track and video track when running ./target/debug/examples/reflect -v -a

[code]

but if only running  ./target/debug/examples/reflect -v  (only reflect video track), it will miss 'c' for audio track,
[code]

when  only running  ./target/debug/examples/reflect -a  (only reflect audio track), it will miss 'c' fo

[2021-12-19 18:10] rainliu commented on #144
Looks like same issue in Pion reflect example for reflecting video track only:

[code]

[2021-12-19 18:35] rainliu commented on #138
@aegroto, have you tried configure_nack? Does this help for your packet loss case?

[2021-12-19 18:35] #145 closed

[2021-12-20 09:58] k0nserv commented on #144
Hmm I suppose it's okay that the `c=` is missing because the media is being rejected(as indicated by the port being set to `0`). However, Firefox parsing is just very strict?

[2021-12-20 13:56] aegroto commented on #138
Hello, I'm sorry but I had no chance yet as I've been busy with other experiments.

@giangndm I'm not sure we've got the same issues, my code doesn't make advantage of NACKs at all.

[2021-12-20 18:02] rainliu commented on #144
we should remove audio media description from SDP if there is no audio track support.

[2021-12-21 14:22] k0nserv commented on #144
Should we? Doesn't the specification say to reject by using `0` for the port in the SDP(as it currently does)? To me the fix is including the `c=` line even when rejecting offered media

[2021-12-24 04:46] D1plo1d opened #147 "Capture just one frame as an image?"
I'm looking to create a time-lapse from a WebRTC that needs to be externally triggered to capture frames at non-regular intervals (resulting in an mjpeg or similar). Is it possible to get a single frame from a WebRTC video stream with webrtc-rs?

[2021-12-25 06:21] rainliu commented on #136
sctp-proto is actively developing in branch https://github.com/webrtc-rs/sctp/tree/proto.

[2022-01-13 09:09] universeroc opened #148 "use an automatic link instead"
when using `cargo doc` there are 30 warnings in stdout:

`help: use an automatic link instead: <http:/draft.ortc.org/>`

[2022-01-13 16:56] #148 closed

[2022-01-13 19:48] #138 closed

[2022-01-15 11:42] robashton opened #151 "ReadRTCP doesn't work"
Digging into how/why reading RTCP results in the data stream being corrupt.

I've

- Confirmed that in Pion, the code that I am trying to write works
- Isolated the issue to a simple repro
- Got suspicions that the issue is caused by a shared lock between RTP and RTCP, meaning the RTP only gets read when an RTCP packet comes in.

I'll dig deeper, and amend this issue as I do.

### Discussed in htt

[2022-01-15 19:10] robashton commented on #151
I think I have a handle on this, I'd like to propose a couple of changes (Happy to send as a PR, but would like some feedback first).

Consider the following go

[code]

I am not a Go programmer, and what I know about Go I've learned in the last couple of days whilst reading Pion and putting things into an online runner, but all of those <-r.received calls are effectively doing is using the channe

[2022-01-15 19:25] robashton commented on #151
Only a couple of instances anyway, leave it here for you!

[2022-01-16 04:39] rainliu commented on #151
@robashton, with the fix( https://github.com/webrtc-rs/webrtc/pull/152), did you see any other issues for read_rtp/rtcp? If no other issues, I think it is worthy to release a new version to include several fixed you have done. What do you think? Thanks.

[2022-01-16 06:33] robashton commented on #151
As far as I know,  this makes it all work properly.

What I can say with some degree of confidence, is that nobody has code that uses RTCP because beforehand there is no way it would have worked, so a release wouldn't break *that*.

I'll have this integrated into a pretty full workflow (at work) shortly, I just need to feed that timing information further downstream and validate the results - if I

[2022-01-16 08:14] robashton commented on #151
It looks like this does indeed work (I've got a lovely lip-synced MP4 sat in front of me).

I've got a few lines of trace out of the h264 parser that causes me a little bit of concern as it indicates I'm losing a few packets, this might be as a result of *my* code or my usage of Webrtc.rs, or Webrtc.rs so I'll dig into that tomorrow - unless anybody is screaming out for RTCP support then I'd sugge

[2022-01-16 08:16] rainliu commented on #151
Cool.

Sure, will wait.

[2022-01-17 16:56] robashton commented on #151
Rightio, I've tested this out properly and it does indeed work. I had some worries that something wasn't cancellable but that doesn't seem to be the case. A tagged release would make me happy, as I can update our repos then.

Cheers

[2022-01-17 17:52] rainliu commented on #151
@robashton,  webrtc crate v0.4.0 was just released.

[2022-01-17 17:52] #151 closed

[2022-02-09 19:30] ineiti opened #155 "How to create an RTCSessionDescription structure?"
Hi there,

I'm trying to get `webrtc-rs` to interact with the browser-webrtc available in `web_sys.RtcPeerConnection`. I started with the example here:

https://github.com/webrtc-rs/examples/blob/5a0e2861c66a45fca93aadf9e70a5b045b26dc9e/examples/data-channels/data-channels.rs

So I'm creating an `APIBuilder::new()[...].new_peer_connection(config)` that should create an `offer`, which will be sent

[2022-02-09 21:46] rainliu commented on #155
let desc_data = signal::decode(answer_string.as_str())?;
let answer = serde_json::from_str::<RTCSessionDescription>(&desc_data)?;

[2022-02-10 07:39] ineiti commented on #155
OK, I'll try that. But to me it would be more logical to have something like:
[code]

And the same for `pranswer`, `answer`, ... So it would be clearer:
[code]

Would that make sense?

[2022-02-12 15:18] ineiti opened #156 "Minimal example not running in test"
Hi there,

I'm trying to run webrtc-rs in a test. As it didn't work at all, I started from the `example/offer-answer/offer.rs` and created a minimal example that just starts an offer and displays the first discovered ice-candidates.

What I don't understand: when I run the example as a binary, it prints out the ice-candidates. However, if I run the same code in a test, it doesn't create any ice-ca

[2022-02-12 16:49] ineiti commented on #156
So these are the log with trace level from running it with main:

[code]

And this when running in the test:

[code]

So the first different line is the missing

[code]

Any idea why the mdns is not starting the loop?

[2022-02-12 20:47] ineiti commented on #156
OK - took me some time, but I finally found it.

[code]

Only starts a single-threaded scheduler, so the `mdns` will not run. So the tests need to be marked with

[code]

And everything is all right... Not sure where this information would be helpful or if you can check it in the code somewhere. Closing the issue.

[2022-02-12 20:47] #156 closed

[2022-02-13 16:52] kgzoom opened #157 "Hi, is there a webrtc-rs community chat?"
Hi,

I'm looking for a webrtc-rs community forum or chat, or at least a recommended one for those types of questions if a project specific community does not exist yet.

[2022-02-13 17:08] #157 closed

[2022-02-13 18:50] JimLynchCodes opened #158 "Explain "Testing with Local Dependencies" Better"
The section in this README "Testing with Local Dependencies" is extremely confusing...

All it says is, "Follows this instruction about how to replace dependencies with patch for local testing: https://doc.rust-lang.org/edition-guide/rust-2018/cargo-and-crates-io/replacing-dependencies-with-patch.html"

The link has NOTHING to do with this project- it's just general cargo documentation...

What am

[2022-03-02 03:03] KallDrexx commented on #155
Adding my vote for this issue.  I had to add serde_json to my project just for this unfortunately, but it seems logical to me to be able to have a function convert a string SDP into a `RTCSessionDescription`.

[2022-03-02 10:49] lolgesten opened #159 "Add/remove track triggers endless on_negotiation_needed loop"
removed, I used wrong github user to open the issue

[2022-03-02 10:52] #159 closed

[2022-03-02 10:52] lolgesten opened #160 "Add/remove track triggers endless on_negotiation_needed loop"
If I use Chrome with the following steps:

* Add microphone track
* Remove microphone track

I get an endless loop of `on_negotiation_needed`.

Here are the relevant SDPs.

1. (add track) Chrome -> webrtc-rs (OFFER)

[code]

2. webrtc-rs -> Chrome (ANSWER)

[code]

3. (remove track) Chrome -> webrtc-rs (OFFER)

[code]

4. webrtc-rs -> Chrome (ANSWER)

[code]

In SDP 3 and 4 notice the `a=inactive`

[2022-03-02 10:53] #160 closed

[2022-03-02 10:55] algesten opened #161 "Add/remove track triggers endless on_negotiation_needed loop"
If I use Chrome with the following steps:

* Add microphone track
* Remove microphone track

I get an endless loop of `on_negotiation_needed`.

Here are the relevant SDPs.

1. (add track) Chrome -> webrtc-rs (OFFER)

[code]

2. webrtc-rs -> Chrome (ANSWER)

[code]

3. (remove track) Chrome -> webrtc-rs (OFFER)

[code]

4. webrtc-rs -> Chrome (ANSWER)

[code]

In SDP 3 and 4 notice the `a=inactive`

[2022-03-02 10:55] lolgesten commented on #160
See #161

[2022-03-02 18:38] application-developer-DA commented on #94
These are big ambitions, I like it 🙂  I think it would be really cool to have a "native Rust" replacement of the `libwebrtc`.

But would it be enough to use the crates specified in the issue description to really replace the `libwebrtc` fully?

I might be wrong, but so far I did find a possibility to encode the video using the `webrtc-rs`. I stumbled across the crate while trying to bring the WebR

[2022-03-03 08:57] algesten opened #162 "Failure to reuse mid"
The test case is using Chrome to webrtc-rs.

1. Add mic track in Chrome.
2. Remove mic track.
3. Re-add mic track.

The resulting SDP dance is here:

[code]

In this scenario Chrome tries to re-use `mid=1` going from `a=inactive` to `a=sendonly`. However webrtc-rs seems to not keep the `a=inactive`.

I'm trying to figure out where in the code this happens.

[2022-03-03 13:14] algesten commented on #162
`replaceTrack(null)` should not make transceiver `inactive`, but we can set direction to `inactive` manually in this case.

Either way, `inactive` is not the same as `stopped`.

[2022-03-04 23:16] naia-rs opened #163 "DTLS ServerKeyExchange failure"
Could anyone help me out here? I am attempting to set up connectivity of a WebRTC-rs client DataChannel with https://github.com/naia-rs/naia-socket ... and it appears that the DTLS handshake is failing on the ServerKeyExchange message given, exactly here: https://github.com/webrtc-rs/dtls/blob/611f052515e7090be661bcdd4d599f0d4c7bcdca/src/handshake/handshake_message_server_key_exchange.rs#L114 The

[2022-03-05 18:30] KallDrexx opened #164 "H264 depacketization fails with `ErrShortPacket`"
I'm getting `Rtp(ErrShortPacket)` after several successful depacketize calls from the `H264Packete` depacketizer, and am struggling to understand what I'm doing wrong.

The minimal reproduction of this is:
[code]

The `Cargo.Toml` this works with is

[code]

To test this I
* Execute this code
* Point my browser to the [jsfiddle from the broadcast example](https://jsfiddle.net/1jc4go7v/)
* Click Pu

[2022-03-06 02:25] KallDrexx commented on #164
Well this is interesting.  I can reproduce this 100% on my desktop but not on my laptop.  Desktop is using an external webcam while the laptop is using the built in webcam, but other then that both are using Firefox on Windows 10.

[2022-03-10 09:03] MariaGolubev opened #165 "Slows down the stream with 30+ clients"
Hello. My stream slows down on different devices with 30+ clients. I'm creating a test video from an  gstreamer, sending it to TrackLocalStaticRTP. What could be the problem?
## Send video to TrackLocalStaticRTP:
[code]
RTCP messages from the client do not process.

[code]

[2022-03-10 09:04] RustPanda commented on #165
gstreamer pipeline:
[code]

[2022-03-10 10:50] k0nserv commented on #158
You'd do something like this

[code]

This way your local copy will replace `webrtc` from crates.io

[2022-03-15 10:06] MariaGolubev opened #166 "Strange enum Error"
[Error](https://github.com/webrtc-rs/webrtc/blob/master/src/error.rs#L381) contains `new(String)` - This is bad code!!!!!

i get such an error:
[code]
i expected to get: `Error::ErrConnectionClosed `

I get this error when I try to write a packet to the track:
[code]
I am using `Arc<TrackLocalStaticRTP>` in several `RTCPeerConnection`
The error appears when closing several `RTCPeerConnection`

[2022-03-15 21:00] sax commented on #155
Same here. I'm interacting with webrtc.rs from Elixir, where I have the SDP as a string. It seems like the only mechanism I have to make a peer connection work is to generate JSON (which I have to guess the structure of) just so that it can be decoded, but that really doesn't make sense.

[2022-03-15 21:06] rainliu commented on #155
I am not against adding new APIs to parse SDP string.

PRs are welcome to address this issue.

[2022-03-15 21:08] sax commented on #155
@ineiti I would be happy to issue a pull request, unless you already have code ready to go. I probably wouldn't be able to get to it until tomorrow.

[2022-03-16 07:23] ineiti commented on #155
@sax - tomorrow sounds very fast. I'm currently counting weeks until I can get back to my side-project which uses webrtc :)

[2022-03-16 21:45] sax commented on #155
Hahah. Well, maybe I was optimistic. I'll at least start it later today.

[2022-03-18 00:08] sax commented on #155
@rainliu I was wondering if you might be able to point me in a direction. I'm writing the following test, and if fails because when I set the remote description on the answerer, it gives `Error: ErrSessionDescriptionMissingIceUfrag`. I don't see any mechanism to generate an offer that includes a ufrag or a password.

[code]

Maybe I need to add something to the peer connection before generating th

[2022-03-18 02:44] sax commented on #155
Ok, I think I got it. Please take a look at the linked pull request. I'm happy to make changes if desired... I wasn't totally sure how to construct a realistic test for `pranswer` structs, so I basically just copied the `answer` test without the final assertion.

[2022-03-19 10:12] melekes opened #168 "[DTLS] allow providing custom certificates"
Hey! I'm building a webrtc server for Parity's light client called smoldot (https://github.com/paritytech/smoldot). The server's identity is fixed, meaning server's certificate does not change.

In the current API, one can provide a certificate, BUT there seems to be no way to actually "load" existing certificate (from pem) because

[code]

rcgen::Certificate can only be used for generating new ce

[2022-03-20 14:53] radudiaconu0 commented on #111
i agree
..

[2022-03-20 14:53] radudiaconu0 commented on #111
i want something like what electron does

[2022-03-20 15:03] nothingismagick commented on #111
To be clear, right now with the exception of linux platforms, webrtc is available. We're investigating options for linux solutions, but those seem to be pretty far away.

[2022-03-20 19:13] data-retriever opened #169 "RTCPeerConnection.setLocalDescription() without arguments"
The [Perfect Negotiation](https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Perfect_negotiation) document says that the set local description method shouldn't receive a argument for a perfect negotiation.

Is this feature already on the roadmap?

[2022-03-28 06:10] shiqifeng2000 opened #174 "Udp connection(Socket) not close"
hi

I am using this repo for a streamer case. The streamer client is a web browser with webrtc api. It was perfect except some memory issue. So when I dig further, i notice something, the host opens a new udp port whenever a new peer connection is created but failed to get closed when the client dropped.

/**Log start*/
[Rolling] 2022-03-28T16:57:37.824594+08:00 - WARN - webrtc_ice::agent::agent_i

[2022-03-29 07:15] rainliu commented on #174
In examples, i.e., https://github.com/webrtc-rs/examples/blob/main/examples/play-from-disk-h264/play-from-disk-h264.rs, you can send done signal to close explicitly peerConnection when peer connection state becomes fail.

[2022-03-29 08:47] frjol opened #175 "Cannot run example on Armv7 panicked at 'overflow when adding duration to instant'"
Based on the discussion from the issue in the example here https://github.com/webrtc-rs/examples/issues/5

I have an issue running the example on a Raspberry Pi Zero 2 W armv7l.

It seems related this issue https://github.com/chronotope/chrono/issues/343

[code]
I made a workaround here https://github.com/frjol/webrtc/tree/time-overflow-armv7-workaround which works for me but might not be the opti

[2022-03-30 00:56] shiqifeng2000 commented on #174
thank for the answer, but as your example state, sending done signal would lead to peer connection close
**/*Code start/**
tokio::select! {
        _ = done_rx.recv() => {
            println!("received done signal!");
        }
        _ = tokio::signal::ctrl_c() => {
            println!("");
        }
    };
    **peer_connection.close().await?;**
**/*Code end/**

which is the very reason I pre

[2022-03-30 03:37] shiqifeng2000 commented on #174
I debug the code and follow the error into ice::candidate::candidate_base::close

There's the code for closing the candidate

/**Code start*/
/// Stops the recvLoop.
    async fn close(&self) -> Result<()> {
        {
            let mut closed_ch = self.closed_ch.lock().await;
            if closed_ch.is_none() {
                return Err(Error::ErrClosed);  ==============> interrupted connectio

[2022-03-30 17:16] sax opened #177 "Ability to retrieve stats from a peer connection"
I see that the [stats module](https://github.com/webrtc-rs/webrtc/blob/master/src/stats/mod.rs) exists, but does not have any content. I was hoping to contribute a pull request adding RTP stats, and wanted to make sure that 1) this is not stepping on work that someone else is doing, and 2) I implement it in a way that is likely to get merged.

I was planning to follow the model of Pion, using [sta

[2022-03-30 17:28] rainliu commented on #177
sounds great!

[2022-03-31 02:20] shiqifeng2000 commented on #174
hi

This is a letter for further discussion from topic "udp connection not
close";

Somehow the udp did fail to close even I manually trigger the
RTCPeerConnection::close function, all the media engine, setting engine are
of default configuration, and I get the same result even if I remove all
the tracks, data channels etc.
A UdpMux socket with fixed network interface address seems promising but
s

[2022-03-31 07:30] shiqifeng2000 commented on #174
I tried a customized EphemeralUDP with min port 8443 and max port 8447,  when I created more than 4 peers, the local candidate will only nominate candidate with address "::" and port 8443. But client won't be able to pair the address anymore, complaining "webrtc_ice::agent::agent_internal - [controlled]: pingAllCandidates called with no candidate pairs. Connection is not possible yet."

[2022-04-01 02:23] shiqifeng2000 commented on #174
I found the reason and will close this comment now
The issue is because I did close the peer connection in a PeerConnection::on_peer_connection_state_change, when pc close it interrupt the following clearing up process and left the AgentInternal stuck in the loop in AgentInternal::start_on_connection_state_change_routine, that's why the UdpNetwork, no matter UdpMux or EphemeralUDP, was left behind

[2022-04-01 02:25] #174 closed

[2022-04-01 02:58] rainliu commented on #174
could you provide more details how to reproduce it and what should be improved to prevent such misuse page?

[2022-04-01 06:43] shiqifeng2000 commented on #174
This is the code that cause the problem;
[code]
As for improving, I am not sure, maybe a Rwlock, or maybe  a mpsc channel to control the closing chain? Hope it could help

[2022-04-09 07:40] sevensidedmarble commented on #177
I'd love to take a shot at helping with this too if I could @sax

[2022-04-09 09:44] sax commented on #177
Take a look at https://github.com/webrtc-rs/webrtc/pull/180. The are still some incomplete parts to that, and it would be helpful to have a review of it for consistency and quality.

[2022-04-11 12:36] melekes commented on #110
@tedsteen did you end up implementing it yourself?

[2022-04-11 16:41] tedsteen commented on #110
No I didn't, would still be a nice addition imo

[2022-04-11 17:31] melekes commented on #110
I will work on that then

[2022-04-14 08:38] k0nserv commented on #164
You aren't resequencing the stream. Consider what happens with your code if a FU-A split packets arrives out of order.

Also I've observed that at least Chrome sends packets with empty payload lengths

[2022-04-14 12:59] ehte89 opened #181 "Dockerised"
Please can you make a dockerised version of this

[2022-04-14 13:15] ehte89 opened #182 "Vortex"
Vortex Dependencies
https://github.com/revoltchat/vortex

[2022-04-14 13:44] KallDrexx commented on #164
Can you expand on my resequencing is relevant to my minimal reproduction?  I would expect resequencing to happen either at the `read_rtp()` calls or by the `H264Packet.depacketize()` functionality, both are aspects built directly into webrtc-rs.  If neither are these are meant to handle out of sequence rtp packets by design, then doesn't that make the `H264Packet` functionality essentially useless

[2022-04-14 15:40] KallDrexx commented on #164
I mis-remembered, but you are almost correct.  The code at https://github.com/webrtc-rs/rtp/blob/2cce83c5618a646df22b9213c040470be9fb803a/src/codecs/h264/mod.rs#L211 wants it to be *greater* than 2 bytes, not *at least* 2 bytes.  Since I'm getting a 2 byte packet, it's returning a packet too short error.  It's not clear to me if a 2 packet h264 NAL is valid or not (my assumption is that it is and

[2022-04-14 16:01] k0nserv commented on #164
Ah, you are indeed correct about it being greater than 2 bytes.

This condition is the [same one as Pion](https://github.com/pion/rtp/blob/master/codecs/h264_packet.go#L216)(which webrtc-rs is a port of) so I think it's correct.

Out of curiosity do you have examples of the 2 byte payloads you are seeing?

Yeah agreed, the examples are a bit incomplete in this sense, but my understanding is defini

[2022-04-14 16:21] sax commented on #177
It is opt-in via the requirement to call `get_stats` on the peer connection, but that does bring up the question of whether more of this code should be in threads. That said, my guess is that this is pretty quick since it's just collecting up existing data.

[2022-04-14 16:27] KallDrexx commented on #164
I believe the 2 byte payload I kept seeing was `[9, 48]` consistently based on my previous notes, but if I get a chance later this evening I'll try running it again.

[2022-04-14 17:16] k0nserv commented on #177
Great, I think as long as there's no overhead in the performance critical code paths it's fine for stats to not be feature flagged.

I don't expect the collecting code itself needs to be in a thread(or more appropriately tokio task) if the entry point is `async` users can always spawn a task for it themselves.

[2022-04-14 17:17] k0nserv commented on #164
Ah, that's an access unit delimiter. I guess in theory it's okay for those to be dropped, but maybe the condition should be change to allow them through.

[2022-04-14 17:27] k0nserv commented on #166
I suspect it was ported when @algesten [moved the error type](https://github.com/webrtc-rs/webrtc/issues/106) from `anyhow` to `thiserror`, anyhow is more stringly typed.

I think the way forward here is to start converting the errors that use the `new` variant to bespoke variants.

PRs that do this are welcome I expect

[2022-04-18 06:02] melekes commented on #110
Opened https://github.com/webrtc-rs/sctp/pull/9

[2022-04-20 08:42] melekes opened #183 "[SettingEngine] allow providing custom `multicast_dns_dest_addr`"
Right now it's not possible to spawn two webrtc processes because `mdns` listening address is fixed (`0.0.0.0:5353`). Would it make sense to allow modifying it via `SettingEngine` similar to `dns_mode`?

[2022-04-20 10:24] #183 closed

[2022-04-20 12:37] robashton opened #184 "Millicast support"
This is more of a placeholder because I'll be sending a pull request to [webrtc-dtls](https://github.com/webrtc-rs/dtls/) shortly.

On connecting to the WHIP endpoint at millicast, I get the charming error

```ring::unspecified```

During flight5 of DTLS negotation.

It turns out that Millicast doesn't support ECDSA (yet), so we pick one of the RSA algorithms and we actually end up picking the wro

[2022-04-20 14:47] robashton commented on #184
Sigh, update: It's not the selection code, we're doing the right thing with the OIDs we've got, somebody else is doing a naughty (hopefully not millicast)

[2022-04-20 15:15] robashton commented on #184
Ooft, okay - I'm starting to see it now.

We've got the code that is using

[code]

And we're using them to determine the algorithm required for verification - but this is wrong *I think*, see also: https://crypto.stackexchange.com/questions/31479/certificate-signature-algorithm-differs-from-signature-algorithm-negotiated-for

In this case, we've negotiated TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, a

[2022-04-22 04:57] cameronelliott commented on #174
@rainliu

Rain, looking at the snippet given above, and copied here below.
Is this considered a valid way to close the PC?
(As opposed to the example you linked to: https://github.com/webrtc-rs/examples/blob/main/examples/play-from-disk-h264/play-from-disk-h264.rs )
PS, thank you for creating `webrtc.rs`

[code]

[2022-04-26 03:08] jeremy-prater commented on #155
This might work? It seemed to work for me

[code]

[2022-04-26 03:14] jeremy-prater commented on #121
Yes, I'm having some major trouble calling `async` functions from inside the Boxed closure... I either get 'static lifetime issues, or cycle detected issues.

[2022-04-26 06:35] robashton commented on #184
Millicast egest now works :)

[2022-04-26 06:35] #184 closed

[2022-04-26 15:33] #110 closed

[2022-04-27 06:53] melekes commented on #110
Sorry, one more thing needs to be done - https://github.com/webrtc-rs/data/pull/4. Once it's merged, this issue can be closed.

[2022-04-29 10:04] mvlabat commented on #163
Hi! I'm new to WebRTC. I tried reproducing the issue with the example you provided, but I got a different result. I can't see anything related to `client: handshake parse failed: buffer is too small`.

`[2022-04-29T10:01:31Z TRACE webrtc_dtls::handshaker] [handshake:client] Flight 1 result alert:Some(Alert { alert_level: Fatal, alert_description: InsufficientSecurity }), err:Some(ErrRequestedButNo

[2022-04-30 16:16] sevensidedmarble commented on #118
Does anyone have any thoughts on where to start with this? I'm somewhat new to Rust so I'm not sure where to approach it from. I feel like the tricky part is simulating real network conditions.

[2022-04-30 17:07] xnorpx commented on #118
@sevensidedmarble maybe check this discussion: https://github.com/webrtc-rs/webrtc/issues/101

[2022-05-09 15:20] k0nserv commented on #144
Looks like we can backport the fix from Pion here.

https://github.com/pion/webrtc/pull/2198/files

I'll try to do so in a bit

[2022-05-09 16:34] rainliu commented on #144
LGTM.

[2022-05-09 16:45] #144 closed

[2022-05-17 03:30] cd711 opened #190 "How to using MediaCodec(h264,Android)'s OutputBufferr"
Specific:
I recv h264 frame data from scrcpy(https://github.com/Genymobile/scrcpy/blob/master/server/src/main/java/com/genymobile/scrcpy/ScreenEncoder.java)

and write with track,
I tried TrackLocalStaticSample::writeSample and TrackLocalStaticRTP::write to writing raw data
but it's not work

I hope to get your help

Thank you very match

[2022-05-17 12:07] k0nserv commented on #190
You want `TrackLocalStaticSample` I suspect. It expects H264 NALUs in the Annex B bitstream format. The format is described towards the end of the [h.264 specification](https://www.itu.int/rec/dologin_pub.asp?lang=e&id=T-REC-H.264-202108-I!!PDF-E&type=items) and involves adding sequences of `0x000001` or `0x00000001` between each h.264 NALU. This might already be the format that scrcpy produces or

[2022-05-17 14:04] k0nserv opened #191 "Endless negotiation loop"
I've encountered a case where `on_negotiation_needed` fires and if you negotiate as a consequence of that and endless offer answer loop will occur.

## Reproduction steps

1. Browser sends an offer
2. Server sends an answer
3. Optionally step 1 and 2 happen a few times, for example by first negotiating a data channel and then a video track(Video track is `sendonly` on the browser side and `recvonl

[2022-05-17 15:50] cd711 commented on #190
thanks
I saved the configuration frame (the first buffer) and splice it to the front of each keyFrame. **It works!**

`
// scrcpy parse process
let mut stream = TcpStream::connect("localhost:3111").await.unwrap();
{
    // skip 1 byte
    use tokio::io::AsyncReadExt;
    let ref mut tmp = [0u8; 1];
    stream.read(tmp).await.unwrap();
}
// device info
let mut tmp = [0u8; 69];
let mut r_size = 0usi

[2022-05-17 16:19] k0nserv commented on #190
Yes you are correct about a bunch of the fields aren't used. I'm not sure why that is unfortunately, but the duration field is important.

Duration should be the duration of the sample in question and it's used for the RTP timestamps. If you have fixed FPS you can probably hardcode this value to 1000/{fps}ms. I believe h.264 also carries its own timing information inside the NALUs which is probabl

[2022-05-18 03:56] cd711 commented on #190
I'm thinking
If there is an audio track. How can the audio and video be synchronized(without pts)

[2022-05-18 03:56] #190 closed

[2022-05-18 08:11] k0nserv opened #192 "Inactive tracks should not be stopped"
As showcased in https://github.com/webrtc-rs/webrtc/issues/191 tracks that go from .e.g. `sendonly` to `inactive` in the course of applying a remote offer(via `set_remote_description`) are stopped:

https://github.com/webrtc-rs/webrtc/blob/de83067295e4394cb3a66fe9ceffc7865e2f4217/src/peer_connection/mod.rs#L1314-L1316

My understanding of the specification is that when a media description becomes

[2022-05-18 10:51] k0nserv commented on #191
Also related to this, the specification([RFC8829 Section 5.2.1](https://datatracker.ietf.org/doc/html/rfc8829#section-5.2.1)) says:

But webrtc-rs includes the `m=` lines for this transceiver. That said, I don't think the transceiver should be stopped at all when its direction becomes `inactive`.

[2022-05-18 13:09] k0nserv commented on #192
Instead of stopping here's what I think should happen(based on my reading of the specifications):

## Receiving

If we were receiving and now aren't because our local direction will become `sendonly` or `inactive` nothing in particular should happen. We'll keep sending RTCP packets for receiver reports etc.

## Sending

Similarly, if we are sending and receive an answer that changes our local dire

[2022-05-20 13:44] billylindeman opened #193 "Add AV1 Support"
Pion added av1 support:

https://github.com/pion/webrtc/pull/2071
https://github.com/pion/webrtc/pull/2176

[2022-05-23 12:46] k0nserv commented on #193
This would be nice to have, but I don't expect it to be priority for those working on the project at the moment.

If it's something you are interested, it'd be great if you could contribute it

[2022-05-23 12:48] k0nserv commented on #175
@frjol Can this be closed?

[2022-05-23 12:50] k0nserv commented on #181
I'm not sure that makes sense, this project is a library not an application, as such it cannot be dockerized as is.

[2022-05-23 12:50] #181 closed

[2022-05-23 12:51] k0nserv commented on #192
This also relates to https://github.com/webrtc-rs/webrtc/issues/162

[2022-05-23 12:52] k0nserv commented on #191
This issue duplicates https://github.com/webrtc-rs/webrtc/issues/191 so I'll close it

[2022-05-23 12:52] #191 closed

[2022-05-23 12:53] #192 closed

[2022-05-23 12:59] k0nserv commented on #158
Closing this for now. If someone wants to expand this section on the README.md a PR is welcome

[2022-05-23 12:59] #158 closed

[2022-05-23 16:07] k0nserv commented on #182
I'm not quite sure what you are asking here. Can you expand?

[2022-05-23 16:12] k0nserv commented on #169
Not on the roadmap at the moment, but part of what you mentioned is implemented i.e. you can pass an argument to `set_local_description` with an empty `sdp` field and it will re-use the last offer but it will not detect the need to generate a new offer.

[2022-05-23 16:26] k0nserv commented on #155
This was fixed in #167 so I'm closing this issue for now.

[2022-05-23 16:26] #155 closed

[2022-05-23 16:27] k0nserv commented on #147
You'll need to keep a buffer with the latest keyframe + all subsequent delta packets around, then when you want to capture you should be able to feed all of this data to a decoder and get a single decoded frame.

[2022-05-23 16:29] k0nserv commented on #122
Doing this would mean that the minimum compiler target changes which is worth keeping in mind.

[2022-05-24 00:56] billylindeman commented on #193
@k0nserv Absolutely!  I did some experimenting with just supporting the mimetype / codec to get AV1 flowing and it was pretty simple. Going to post a PR for that shortly.

Looking to eventually add support for the dependency descriptor rtp header extension (AV1 SVC) but don't have the cycles for it at the moment =]

Reference: https://aomediacodec.github.io/av1-rtp-spec/

[2022-05-24 09:24] k0nserv commented on #177
Hey @sax are you blocked on releases to continue this work at the moment? I seem to recall seeing something like that somewhere. If so I should be able to help with that

[2022-05-24 13:26] frjol commented on #175
@k0nserv Yes! Thank you for tracking this.

[2022-05-25 08:05] shiqifeng2000 opened #195 "Udp connection not close (reopen #174)"
hi

This is an issue reopen from 174,  as state before the code below will leave some socket unreleased in the task/thread/process

[code]

**So I try to make it async way, as it did get fixed, for some time**

[code]

But when the task went heavy and cpu get big burden, say, 50 rtc jobs delivering large bitrate stream, I found the issue reappear from time to time. Leaving udp sockets unreleased.

[2022-05-27 05:22] shiqifeng2000 commented on #195
It seems I found the reason myself, when cpu got heavily loaded, it seems to be very slow attaching the event handler to the peer connection, as a result, many task got dropped even before a data channel, which I used as the start notifier, got established. So when facing this intensive job, I need to make sure all the peers, even drop in the midway, need to be closed.

Let me know if I need corre

[2022-05-27 08:09] k0nserv commented on #195
Hey, thanks for reporting this issue. Can you provide some more details?

* Does `on_peer_connection_state_change` get called correctly?
* Does the line that actually calls `close` on the peer connection run?
* Does `close` return a non-Err response?
* If you run with memory [leak detection](https://doc.rust-lang.org/beta/unstable-book/compiler-flags/sanitizer.html) are there any leaks detected?

[2022-05-27 09:58] shiqifeng2000 commented on #195
Hi, thank you for the theories, I am working on the debugging

Here's the short answer for your question:
**Does on_peer_connection_state_change get called correctly?**
Since I am working on the debugging, I am using every means possible to try to adjust code, for
now, <on_peer_connection_state_change> may not trigger when timeout to establish connection(10 secs), and I still found socket unreleas

[2022-05-27 10:33] k0nserv commented on #195
I did some digging. Here's what I think happens:

Ultimately the socket is held within `CandidateBase` which implements `Candidate`. Instance of Candidate are stored within an `Arc` e.g. in `local_candidates` in `AgentInternal` and probably elsewhere too. Thus, for the socket to be freed correctly `CandidateBase` must be freed, chances are that with a lot of `Arc`s this isn't happening correctly s

[2022-05-27 15:48] ranaya-formant opened #196 "Current status of data channel functionality?"
I'm trying to figure out how stable data channel is right now in this project, would you consider it alpha? beta? production? I think there's a strong interest in webrtc-rs only for data channel.  Perhaps you can reflect the current maturity levels of data channels separate from media?

[2022-05-29 17:23] sax commented on #177
Just wanted to add a comment here to reflect some conversation on the discord server.

@k0nserv suggested that bytes sent/received can be gotten from `AgentConn` through the `Agent`. I've done this in https://github.com/webrtc-rs/ice/pull/30, and it's reflected in new commits to https://github.com/webrtc-rs/webrtc/pull/189.

I've also switched reports to be a `HashMap<String, StatsReportType>`, an

[2022-05-30 07:06] shiqifeng2000 commented on #195
hi kOnserv, thanks again for this hint. I am digging now, here's some progress I found.
Firstly, as you just print above, the `CandidateBase` did not drop. But `AgentInternal` did get dropped.
So I guess it should not be the agent issue.

And according to my log, it seems there's `CandidatePair` dropped event prior to every normally dropped socket
[code]
Additionally, here's the port not released

[2022-05-30 07:37] k0nserv commented on #177
`&'static str` is definitely the better choice. I'm not sure you'd need `&'static str` in that many places, just when declaring the `reports` type and in function arguments. `"Hello"` is implicitly `'static`.

[2022-05-30 07:46] k0nserv commented on #177
Hmm, looking at the code it seems some value are dynamic i.e. they have to be `String`. For example, `RTCRtpCodecParameters::stats_id`. The only option then is `Cow<str>` but that seems overkill, let's keep `String`.

[2022-06-03 19:26] nemosupremo opened #197 "WebRTC mdns get_interface_addr_for_ip consumes all system resources"
I'm not sure what causes this yet, but we noticed one our services experiencing excessive load after several hours under what should be minimal conditions (on a machine with 2 cpus and 48 cores, the 1 minute load average was as high as 200). After some sleuthing we discovered that that the majority of our program was spending time in a. single function: `webrtc_mdns::conn::DnsConn::get_interface_a

[2022-06-03 19:35] nemosupremo commented on #197
Actually I think this issue belongs in https://github.com/webrtc-rs/mdns

[2022-06-03 19:35] #197 closed

[2022-06-07 01:53] shiqifeng2000 commented on #195
Well I am just a consumer and maybe my fix is not the best way for this repo. Arc and Weak pointer are better and should be align better to your coding pattern, so maybe it should be best to left to you to fix them.

As for ownership, please just make sure when `peer_connection` close, all the under-going async process are cancelled, all spawned threads released and all fields or substances relate

[2022-06-07 09:16] k0nserv commented on #195
To be honest I'm also mostly a consumer although I've made several contributions to the project, but I'm not super familiar with this code path. That said, I had a look and there's `RTCSctpTransport::notify_tx` which is [notified](https://github.com/webrtc-rs/webrtc/blob/79c53d53571509a58c02ef90bee0f8b3aff0a5d3/src/sctp_transport/mod.rs#L198) when `RTCSctpTransport::stop` is called. I think using

[2022-06-09 00:57] ValorZard commented on #196
I'd second on this. A lot of people are only interested in this crate for the data channel aspect, since webrtc is very useful for game developement, and as a sort of "web-udp".

[2022-06-10 08:33] k0nserv commented on #195
Hey @shiqifeng2000 did you get a chance to test this, if not do you have an example that replicates the problem and I can try

[2022-06-10 10:54] trvinh99 opened #198 "No relay candidates were received when using turn server."
In the data-channels-create example, I used my turn server instead of stun, but had no relay candidates returned. 

<img width="400" alt="Screen Shot 2022-06-10 at 17 50 09" src="https://user-images.githubusercontent.com/48145607/173050144-c5441065-1b92-4082-b313-43a5155b6cc5.png">

It still has a successful response when I capture packets with the wireshark tool:

<img width="400" alt="image" src

[2022-06-13 05:42] shiqifeng2000 commented on #195
Hi,  @k0nserv, so you are using a notifier instead of timeout, that's clever, I tried with your code above and test dozens of rounds and it works as well.

[2022-06-13 08:42] k0nserv commented on #195
That's great, could you send a PR with this change please?

[2022-06-16 14:51] k0nserv commented on #162
PR to implement a paused state for `RTPReceiver` here https://github.com/webrtc-rs/webrtc/pull/201

[2022-06-17 00:22] shiqifeng2000 commented on #195
gladly, working on it

[2022-06-17 02:46] shiqifeng2000 commented on #141
hi  Rainliu

Since Pion don't provide Capturing(Encoding) or Playing(Decoding) scenario and we just mimic the Golang-Pion repo, thus H265-Support just means more SDP mime  types and RTP packaging, maybe.

But, a reminder, most browsers or any other terminals do not support h265 as a candidate for its webrtc video codec.

[2022-06-17 02:49] shiqifeng2000 commented on #193
Similar to H265 support

[2022-06-17 13:19] k0nserv opened #203 "Cancel safety audit"
When writing futures that are likely to run in race with others using e.g. `tokio::select!` it's important to consider cancel safety.

A typical pattern that isn't cancel safe is

[code]

We should audit the codebase for patterns like this and either: make the futures cancel safe or at least document the fact that they aren't.

I've discovered three cases so far:

* ~[`GeneratorStream::read`](http

[2022-06-20 08:28] k0nserv commented on #203
This [PR](https://github.com/webrtc-rs/interceptor/pull/5#event-6829450428) is a first step in this, it fixes two of the above identified issues

[2022-06-21 06:49] melekes commented on #168
opened https://github.com/webrtc-rs/webrtc/pull/204

[2022-06-23 16:45] srcrip opened #206 "Begin creation of an SFU project"
👋 Hi!

I've been working a bit on a SFU example to add to the examples in https://github.com/webrtc-rs/examples/pull/15.

This is a good starting point for what I think is the next logical step for the project: starting an official SFU project similar to the relationship between the Ion SFU and the Pion project.

If everyone agrees, seems like the starting point would be workshopping the goals in

[2022-06-23 19:29] rainliu commented on #206
I created the SFU repo : https://github.com/webrtc-rs/sfu
you can work on this dedicated SFU repo

[2022-06-24 09:15] shiqifeng2000 opened #207 "Is there any existing API or plan that implement custom "jitter buffer" setting ?"
Regarding the Go version plan: https://github-wiki-see.page/m/pion/webrtc/wiki/Goals-2021

**Add pion/interceptor jitter_buffer implementation
Cache incoming packets and re-arrange them
Allow users to define cache behavior (% loss, delay etc..)**

I would love to make some custom jitter buffer setting to counter poor network. So I wonder if there's any mechanism or network setting to realize this

[2022-06-24 09:44] k0nserv commented on #207
Not currently no, but contributions are always welcome. I don't think anyone has expressed interest in working on this atm.

[2022-06-24 09:47] k0nserv commented on #196
Definitely at least beta. We are using this project in production and while we have encountered bugs and issues none of them have been in data channels. Our use case is fairly limited, only using them for moderately sized JSON serialized messages. @melekes has been working a lot on improving them.

There is a known throughput problem that need to be investigated: https://github.com/webrtc-rs/webrt

[2022-06-24 10:33] k0nserv commented on #169
If anyone wishes to implement support for this the details are available here:

https://w3c.github.io/webrtc-pc/#dom-peerconnection-setlocaldescription

[2022-07-02 15:37] morajabi commented on #94
There's an up-to-date in production fork here: https://github.com/rustdesk/rustdesk/tree/master/libs/scrap

[2022-07-04 05:54] #198 closed

[2022-07-04 08:25] #168 closed

[2022-07-05 18:27] kraigher opened #215 "Buffer too small (16 bytes) to fit a FeedbackPacket. Minimum size = 18"
When running against chromium the following message appears:
[code]

It is caused by the chromium code expecting a FeedbackPacket with at least one chunk but webrtc-rs sends an empty feedback packet.
https://chromium.googlesource.com/external/webrtc/+/HEAD/modules/rtp_rtcp/source/rtcp_packet/transport_feedback.cc#38

[code]

This happens when using the default `register_default_interceptors` which

[2022-07-07 12:12] #196 closed

[2022-07-21 10:15] k0nserv opened #227 "Remove ability to read unparsed RTP"
Currently many API surfaces related to RTP support reading both parsed RTP packets and raw RTP data. This complicates the API surface and means that interceptors often have to redundantly parse RTP packets in `RTPReader::read`.

Since, we are already paying the cost of parsing RTP packets many times over in Interceptors I'd suggest we change all APIs to always parser RTP packets and get rid of any

[2022-07-25 10:28] KillingSpark opened #228 "Packets get buffered instead of dropped when a transceiver has send-only direction"
### Problem

I experimented with setting transceivers to sendonly like this:

[code]

I do the necessary renegotiation, but (for simplicity) i have let the other side keep sending packets.

After a few seconds I re-enable the transceivers:

[code]

Again, negotiation is happening.

I now get a bunch of packets in a short amount of time in a new track. Seems like a new track is created and it finds

[2022-08-03 10:29] algesten opened #230 "Sans-IO protocol implementations"
webrtc-rs is currently almost a line-by-line port of [Pion](https://github.com/pion/webrtc). Pion is written in Go, a garbage collected language, and this causes some awkwardness for webrtc-rs both internally and externally (API-wise). The WebRTC spec is (consciously, or unconsciously), quite javascript oriented (another GC language). It relies heavily on callbacks and largely ignores data ownersh

[2022-08-03 12:52] lovelyyfiaaa opened #231 "Pipewire Support"
Hiiiii! ^^

Does Webrtc-rs supports [Pipewire](https://pipewire.org/)? It's required on Linux because of security requirements implemented on Wayland and Flatpak.

Thanks!! <3

[2022-08-04 08:52] melekes commented on #230
@rainliu: "as mentioned in https://github.com/webrtc-rs/webrtc/issues/136,  SCTP has been actively refactored in branch https://github.com/webrtc-rs/sctp/tree/proto.

The refactoring follows the quinn's implementation: https://github.com/quinn-rs/quinn.
      sctp-proto: Deterministic state machine of the protocol which performs no I/O internally.
      sctp-async: High-level async API based on to

[2022-08-08 02:38] shiqifeng2000 opened #232 "Udp connection not close when using TURN (reopen #195)"
hi

This is a bug similar to bug 195, the out come is udp port not closing.

It seems when I try to deploy a TURN server, the candidate would use the `related_address` to communicate with the TURN server.  But when the peer connection is dropping and all candidate are dropped, it seems the `related_address` is still trying to listen to the opened port.

Everytime I opened a new peerconnection, a n

[2022-08-08 07:08] shiqifeng2000 commented on #232
UPDATE:
It seems I have targeted the reason,
you see, in the submodule `TURN` crate,
when `agent_gather` is starting to gather relay candidate by invoking `gather_candidates_relay`
a TURN client is created to listen to the remote turn socket.

In the `listen` method of the TURN client, I found a tokio task spawn to listen to that socket, without safe guarding
[code]
So, similarly, I play the timeo

[2022-08-22 09:01] k0nserv opened #235 "Release 0.5.0"
We haven't had a release of the top level crate(`webrtc`) in some time and there are a significant number of useful changes that we should release, therefore it's time to cut 0.5.0.

The primary thing that needs doing for this to happen is creating the release notes. Especially I'd like the release notes to make it clear what breaking changes have happened since 0.4.0.

## Todo

+ [x] Create relea

[2022-08-22 14:10] algesten commented on #228
Doesn't seem to be much going on at the inbound.

https://github.com/webrtc-rs/srtp/blob/2512fc6bf56b043d85e765dbdd2808196b09d59a/src/session/mod.rs#L170-L178

srtp data arrives, it gets matched up to a `srtp::Stream` (funny name, because it's not encrypted). That stream has an internal `util::buffer`, which the data gets appended to for each packet.

For each new ssrc we end up in `PeerConnection

[2022-08-22 14:10] stuqdog commented on #235
I wrote a mostly*-fix for the id updating issue a couple weeks ago, but foolishly forgot to add a reviewer! 🤦

It's a one-liner [here](https://github.com/melekes/webrtc/pull/1). It was originally a PR on @melekes's revert PR, but I can easily move it over to the main branch.

Tl;dr of wall of text below: the solution I wrote is very simple, can be merged immediately, and handles all cases correctl

[2022-08-22 14:47] KillingSpark commented on #228
I think it is reasonable (maybe even desriable) to create a new track after the second renegotiation. After all the original track might not have produced any data for a significant amount of time, so the code that reads from this track might just have give this up.

I think having these three states is a good idea. But I think after the negotiation has finished it is possible to tell for each str

[2022-08-23 12:08] k0nserv opened #242 "[Interceptor]"
**Migrated issue from webrtc-rs/interceptor**

The signature for `RTPReader`'s `read` method currently accepts `Attributes` by reference, but then also returns `Attributes`. This makes it impossible to avoid at least one clone(in the last step of the interceptor chain).

By changing the type from `&Attribute` to `&mut Attributes` and not returning the Attributes i.e. making it an inout value, we c

[2022-08-23 13:31] k0nserv opened #249 "[Examples] Investigate reflect example tokio console issue"
Investigate the following https://github.com/webrtc-rs/examples/pull/10/files

[2022-08-23 15:16] KillingSpark opened #253 "Checking header.value_length for being too short"
Hi, just reopening the issue from the sctp crate as requested. Original text:

While fuzzing `src::packet::Packet::unmarshal` a lot of panics have shown their face.
The common theme seems to be that the code did check that `header.value_length` isn't too big.

What seems to have been missed, that it also leads to panics when this value is too small.

Often there are checks that at least check that

[2022-08-23 15:59] k0nserv commented on #231
I'm not familiar with Pipewire, but it looks like it has to do with the actual playback/recoridng of audio and video. This crate doesn't currently support anything like that, as a consumer you have to provide those capabilities.

As long as you can produce data from a decoder e.g. as a H264 bitsream in the case of H264, this project can be used to send that data as part of a webrtc session

[2022-08-23 16:03] k0nserv commented on #195
Closing this as I believe it was resolved

[2022-08-23 16:03] #195 closed

[2022-08-23 16:03] k0nserv commented on #182
Closing due to lack of activity.

[2022-08-23 16:03] #182 closed

[2022-08-23 16:06] k0nserv commented on #162
This is fixed

[2022-08-23 16:06] #162 closed

[2022-08-23 16:08] #147 closed

[2022-08-23 16:32] #52 closed

[2022-08-24 09:29] k0nserv opened #259 "Make tests that rely on time deterimnistic"
There are many tests that use `tokio::time::sleep` to advance time and observe the effect of timers/tickers running. This is brittle and flaky.

<summary>

`$ rg -g '**/*/*test.rs' sleep`

<details>
data/src/data_channel/data_channel_test.rs:        tokio::time::sleep(Duration::from_millis(10)).await;
data/src/data_channel/data_channel_test.rs:        let timer = tokio::time::sleep(Duration::from_

[2022-08-24 09:32] k0nserv commented on #259
Example PR that fixes on of these issues: https://github.com/webrtc-rs/webrtc/pull/258

[2022-08-24 17:17] k0nserv commented on #24
Merged in #254, not yet released. Will be in 0.5.0

[2022-08-24 17:17] #24 closed

[2022-08-25 10:13] k0nserv opened #267 "Decide on minimum supported rust version"
Currently we support Rust 1.57.0 as our minimal version. However, this is entirely arbitrary. We should have a policy.

Some inspiration:

**[tokio](https://github.com/tokio-rs/tokio)**

**[time](https://github.com/time-rs/time)**

**[serde](https://github.com/serde-rs/serde)**

See https://github.com/serde-rs/serde/pull/2257

**[rcgen](https://github.com/est31/rcgen)**

Please add suggestions and

[2022-08-25 16:32] ashkitten opened #269 "[sctp] multiple incoming udp connections not handled"
sctp `Association::server` does not track multiple connections. `DisconnectedPacketConn` simply sends to the last address it received from, pretending that it's a 1:1 connection instead of 1:many, and `Association` doesn't know about remote addresses at all.

[2022-08-25 20:32] morajabi commented on #55
Should this be renamed to just: Improve docs?

[2022-08-26 06:55] clia opened #270 "[TURN] Provide async AuthHandler"
The `auth_handle` fn in AuthHandler is synchronous, make it difficult to invoke some async operations, like querying DB.

It will be better with an async AuthHandler.

[2022-08-26 13:31] k0nserv commented on #55
I don't think so, but perhaps that'd make for a good new issue

[2022-08-28 14:46] chayleaf commented on #78
this is still happening for me, meanwhile [if-addrs](https://docs.rs/if-addrs/) works just fine:

[code]

[2022-08-28 15:29] mantou132 opened #271 "ICE failed on Firefox(Chrome and Safari work)"
webrtc 0.4.0
macOS 12.5.1
Firefox 106

ICE error occurs when I use Firefox to establish a WebRTC connection to the server

[code]

I found a similar question on [pion](https://github.com/pion/webrtc/issues/2125), looking at the thread description, it seems to be a bug of pion, So is it also a problem with webrtc-rs?

[2022-08-28 19:55] chayleaf opened #272 "Interface list is broken on Android 11+"
See https://github.com/messense/if-addrs/issues/14

TLDR: on Android 11, `getifaddrs` is working, but the method used in `webrtc-util` doesn't. Since `getifaddrs` doesn't work on old Android versions (seemingly 6 and below?), perhaps both methods should be tried?

Weirdly, the current method works just fine for me on an emulator, but not on a physical device

[2022-08-29 07:31] melekes opened #273 "[SCTP] Stream::read: partial read OR returning the expected size of the buffer"
The problem I'm facing right now is where I'm passing a buffer to Stream::read, which is not big enough (Error::ErrShortBuffer). Note there's no indication of the expected size => you're forced to guess the number.

Also note it's different from TcpStream https://doc.rust-lang.org/std/io/trait.Read.html#tymethod.read, which partially reads the data and does not put any restrictions on the size of

[2022-08-29 09:39] k0nserv commented on #273
From the last issue, the agreement seems to be that we should mimic the TCP implementation. My only concern is whether it would be tricky to use an API like this for the data channels

[2022-08-29 09:41] k0nserv commented on #271
Yes that seems likely, although I've not experienced it with Firefox myself. What kind of ICE configuration are you using(lite, UDP mux, etc.)?

[2022-08-29 12:15] mantou132 commented on #271
@k0nserv

maybe UDP

https://github.com/mantou132/nesbox/blob/master/packages/server/src/voice/mod.rs#L110-L119

[2022-08-30 08:28] mantou132 opened #274 "The track id received by the browser is not the track id of webrtc-rs"
Steps to reproduce:
1. run broadcast example
2. publish stream
3. open other browser, join the broadcast
4. check video1 `srcObject` stream and track id

[code]

<img width="769" alt="Screen Shot 2022-08-30 at 16 27 07" src="https://user-images.githubusercontent.com/3841872/187388661-b230a9ae-71ed-4cf7-9085-27df94480a93.png">

[2022-08-30 08:40] k0nserv commented on #274
This is according to the specification, it used to be the case that the track IDs matched on the receiving end but this is no longer mandated by the specification.

See step 2 of ["Create an RTCRtpReceiver"](https://www.w3.org/TR/webrtc/#dfn-create-an-rtcrtpreceiver)

[2022-08-30 09:04] mantou132 commented on #274
thanks. I need to match local track and remote track, I found a way to do it.

https://stackoverflow.com/questions/65408744/in-webrtc-how-do-i-label-a-local-mediastream-so-that-a-remote-peer-can-identify

[2022-08-30 09:09] k0nserv commented on #274
Sounds good, using streams(which are reflected on the remote side) is a good way to do this.

[2022-08-30 09:09] #274 closed

[2022-08-31 11:40] k0nserv commented on #267
CI broke again because [async-global-executor](https://github.com/async-rs/async-global-executor) moved to version 1.59.0. This is was created because the same thing happened with [time](https://github.com/time-rs/time).

## Proposal

Given how common the six months approach seems to be I think we should use the same, it's likely that consumers have had to update already because the six month MSRV

[2022-08-31 12:09] k0nserv commented on #267
Fix for async-global-executor https://github.com/webrtc-rs/webrtc/pull/278

[2022-09-01 09:43] k0nserv commented on #273
If anyone is interested in looking at this the first step should be to verify that the change in SCTP would not make its use impossible in the upstream crates. If it turns out to be okay the next step is to implement this

[2022-09-02 09:09] k0nserv commented on #235
That's @stuqdog's PR merged

[2022-09-02 18:43] thomaseizinger commented on #230
Now that there has been a move towards a mono-repo, I think changing these crates should be a lot easier because one can immediately see the impact on most consumers.

SCTP seems to be a leaf-crate in regards to the dependency tree. Has anyone already attempted to port the above branch onto what is now in master?

[2022-09-02 19:45] cameronelliott commented on #230
I'm just catching up after not seeing the Discord for 1 month.
I was going to drop in to say I feel like the mono-repo would make the Sans-IO refactor easier.
Ironically, I have been beaten to the punch by one hour.
I am using WebRTC.rs daily, so this is a very interesting and exciting issue.

[2022-09-05 07:36] stellanhaglund opened #280 "Examples broken"
Hi, when I try to run the `play-from-disk-*` i get
`Error: EOF while parsing a value at line 1 column 0`
I tried with different ivf files and h264 files but there's no difference.

[2022-09-05 07:38] stellanhaglund commented on #280
I'm on an intel mac btw.

[2022-09-05 07:50] stellanhaglund commented on #280
Same thing with `save-to-disk-*`

[2022-09-05 08:17] k0nserv commented on #230
I think @rainliu is best positioned to answer about the state of the sans-io SCTP implementation

[2022-09-05 08:20] k0nserv commented on #280
Can you provide a stacktrace using `RUST_BACKTRACE=1` and the full command you are running?

[2022-09-05 08:26] stellanhaglund commented on #280
This was completely my mistake, I was setting the `BROWSER_SDP` wrong so it weren't able to find the SDP.
Sorry!

[2022-09-05 08:26] #280 closed

[2022-09-05 08:58] k0nserv commented on #280
Np, thanks for being a good open source citizen and raising an issue when you thought you'd found something wrong.

Feel free to join the [discord](https://discord.gg/4Ju8UHdXMs) if you wanna ask more questions

[2022-09-05 12:17] stellanhaglund opened #281 "Question about latency"
I'm doing a quick test to stream a recorded screen over webrtc but I'm experiencing multi second latencies, if you have any ideas that would help a lot!

here's the poc for the capturing part.

[code]

 And here's the reciever.

[code]

I've tried both with and without the waiting parts.

[2022-09-05 17:48] stellanhaglund commented on #281
It's a bit strange too because stuff is only moving on the stream if I'm actively moving something on the computer screen.

[2022-09-06 08:15] k0nserv commented on #281
Sounds like it might be something with the capturing of the display that's causing this issue. If the code is otherwise very similar to one of the play from disk examples that leads me to believe the issue is on the source side

[2022-09-06 08:19] k0nserv commented on #281
Also, the timebase should match the negotiated timebase of the stream typically `90000hz` i.e. `[1, 90000]`

[2022-09-06 10:06] k0nserv commented on #271
Hmm, I'm running with UDP muxing turned on, which is probably what you want for a server anyway.

See:

* https://docs.rs/webrtc/latest/webrtc/api/setting_engine/struct.SettingEngine.html#method.set_udp_network
* https://docs.rs/webrtc-ice/0.6.5/webrtc_ice/udp_network/enum.UDPNetwork.html

[2022-09-06 10:10] stellanhaglund commented on #281
vpx_encode is from [@astraw ](https://github.com/astraw) maybe he has some input?

[2022-09-06 10:23] k0nserv commented on #281
Did you change the timebase?

[2022-09-06 10:35] stellanhaglund commented on #281
Yes, no difference.
I also changed so that there is no frames sent on the channel until the peer-connection is connected, I thought maybe it's sending to many frames so it doesn't have time to send them all over the udp connection,  but that didn't help either.

I also tried the library that vpx_encode is using for the screen capture.
https://github.com/quadrupleslap/scrap/blob/master/examples/ffp

[2022-09-06 10:46] k0nserv commented on #281
I think the other issue is the hardcoded duration of the samples. I know the examples do this, but it's a bit dodgy. What you ought to do instead is specify the correct duration of the samples

[2022-09-06 10:53] stellanhaglund commented on #281
Great thanks I will check that out!
you mean this right?
`duration: Duration::from_secs(1)`

[2022-09-06 10:57] k0nserv commented on #281
Yes!

[2022-09-06 11:15] stellanhaglund commented on #281
So I made the duration use the same amount of milliseconds that the frame capture loop does, in this case 40 and there was a big difference.
I also tried to change from vp9 to vp8 and there was some additional difference.
So now theres still a lag, bigger than if I share my screen between two incognito tabs in chrome, and aren't they using some sort of SFU?
I was hoping that vp9 could be a good th

[2022-09-06 11:31] stellanhaglund commented on #281
Ok, one reason could be that the pixel streaming plugin uses Nvidia's NVENC hardware encoder.

[2022-09-06 11:59] stellanhaglund commented on #281
Seems like ffmpeg has support for serveral hardware encoders, would be interesting to try.

[2022-09-06 13:09] k0nserv commented on #270
Since it's already called from an async context that would be fine. Feel free to send a PR

[2022-09-06 15:27] Meeshbhoombah opened #283 "save-to-disk-h264 asks for arguments not explained in README.md"
[The example](https://github.com/webrtc-rs/webrtc/tree/master/examples/examples/save-to-disk-h264) has two required Command Line arguments (`--video` and `--audio`) which result in the creation of two files. I'm not sure how to get a working video format such that I can confirm the example works. The resulting files that are created do not appear to be immediately playable.

Was wondering how I mi

[2022-09-06 17:02] k0nserv commented on #283
Good catch on the arguments, could you send a PR to fix that?

You could directly write the data into a container format like MP4. The `Writer` implementations used in that example to require the destination being written to to be a file, it could be anything that implements `Write` e.g. a `Vec<u8>`. It should also be possible to use ffmpeg to combine the two files after the fact as an alternative

[2022-09-06 21:17] Meeshbhoombah commented on #283
If I pass file names with the requisite extension (i.e: `.h264` for video, `.ogg` for audio) then the resulting files are playable with VLC.

Should I update the README, or should I refactor part of the example to force the file extension?

[2022-09-06 22:31] mantou132 commented on #271
[code]

This seems to have no effect

[2022-09-06 22:59] mantou132 commented on #271
I tried `Ephemeral` and `Muxed` without effect.

It seems to be other reasons. I returned to the default settings, Firefox Log:

[code]

[2022-09-07 08:59] k0nserv commented on #283
I'd just suggest updating the `README.md` to pass the arguments with the appropriate extensions

[2022-09-07 17:51] k0nserv commented on #235
Released https://github.com/webrtc-rs/webrtc/releases/tag/v0.5.0 🎉

[2022-09-07 17:52] #235 closed

[2022-09-08 13:01] k0nserv commented on #161
This is resolved

[2022-09-08 13:01] #161 closed

[2022-09-12 12:34] KillingSpark commented on #228
Did a fix to this make it into v0.5.0? The testcase I had that I noted down as "should be failing" is no longer doing that. Just wondering if I borked that test somehow without noticing or if there was a change to this on your side.

[2022-09-12 12:58] robashton opened #289 "Simulcast Egest"
Bit o' a doozy this one

I'd quite like to *send* some Simulcast from webrtc-rs, and at the moment as far as I can tell, I can't even hack my way around this (please do correct me if I'm wrong), the setup of the transceivers/tracks/etc seem to be very much working against me.

I see there was this delightful commit over in Pion a few months ago

https://github.com/pion/webrtc/commit/37e16a3b15a3a4

[2022-09-12 13:06] k0nserv commented on #228
Was the initial bug for 0.4.0? In that case it possible that my changes have fixed this yes.

One of the PRs listed under:

in the [0.5.0 release notes](https://github.com/webrtc-rs/webrtc/blob/master/webrtc/CHANGELOG.md#050) is likely to have done it.

[2022-09-12 13:08] k0nserv commented on #289
Happy to have it included, but I'd like it to be implemented according to the specification, just noting in case Pion isn't. I believe that Pion/Webrtc-rs does not implement ingress simulcast correctly currently.

[2022-09-12 13:16] robashton commented on #289
It is my my understanding that ingest is also a bit sketchy, yes.

[code]

I don't think as far as I can see, anybody is presently even uttering the all important

[code]

At either end of the negotiation at the moment.

I think one of the obstacles to "doing things to spec", is that there is overlap between "doing simulcast/SDP to spec", and "aligning the client APIs to spec", as of course the we

[2022-09-12 13:20] robashton commented on #289
I suspect that what Pion is doing fulfils the "to spec" as far as protocol goes - I haven't dug into the full implementation yet, only the commit linked above so I don't know how or what it ends up generating for the negotiation. I imagine it utters all the right incanctations per spec, because these days the spec for *that* seems pretty well defined.

As far as API goes, I'd largely trust their j

[2022-09-12 13:23] k0nserv commented on #289
Yes I agree that the API question is a bit confusing since the browser handles it behind the scenes. I haven't looked at this in a while, but what I recall being the problem with ingress simulcast is that webrtc-rs treats a simulcast track with three different encodings as three separate tracks. Here I'd like it to be aligned with the spec i.e. it's still a single track(`on_track` only fires a sin

[2022-09-12 13:26] robashton commented on #289
I guess this work comes in two passes then, which is to make the current code a bit more like the Pion code with respect to the above (a single on_track firing), and then adding the convenience methods to set up multiple encodes on the outbound and filter inbounds by RID when reading.

[2022-09-12 13:28] k0nserv commented on #289
It does look like Pion has implemented egress simulcast by having a track per send encoding, ideally we'd stick to the spec and have each `RTCRTPSender` have only a single track, but maybe there are complications with this that I'm not aware of.

AFAIK Pion also fires `on_track` N times for N send encodings on the remote side. My beef is with both Pion and Webrtc-rs not following the spec in this

[2022-09-12 13:29] robashton commented on #289
Ah, you've already dived deeper than me then :)

I can live with not following the spec if it is too complicated to make work on first pass, if we agree that morally we *should* be following the spec and work towards that as a goal.

[2022-09-12 13:33] robashton commented on #289
I'll not get started on this right away, as I need to work out what the timeline is for us requiring this (likely to be short/medium term), but there may be some other priorities that take immediate precedence.

When I do, my first action will simply be to attempt the Pion changes *as they are* in order to understand what the current gap is between where the webrtc-rs codebase is and where Pion ha

[2022-09-12 15:30] KillingSpark commented on #228
Yes the initial bug was on a version before 0.5.0 (it was on a local copy that loosely followed master) so it's likely this issue is fixed :+1:

[2022-09-12 16:23] k0nserv commented on #228
Cool, I'm closing this then.

[2022-09-12 16:23] #228 closed

[2022-09-12 18:18] morajabi commented on #281
@stellanhaglund it would be fantastic if you could contribute this as a simple example once you're happy with it! 🤩

[2022-09-18 07:35] k0nserv commented on #215
It was 🎉

[2022-09-18 07:35] #215 closed

[2022-09-19 16:44] k0nserv opened #295 "Add support for RTX via distinc SSRC"
We don't support RTP retransmissions(RTX) when the retransmitted packets are sent over a separate RTP stream(with a distinct SSRC). These packets are simply black holed at the moment.

For now RTX based on NACKs emitted by webrtc-rs work, but the RTX packets will be sent within the established RTP stream.

Related issues in Pion:

* https://github.com/pion/webrtc/issues/1675
* https://github.com/p

[2022-09-19 16:52] k0nserv commented on #295
I'm removing the default registration of RTX codecs in https://github.com/webrtc-rs/webrtc/pull/294

[2022-09-20 08:30] k0nserv commented on #121
@llacqie is working on an attempt to improve this in several PRs:

* #293
* https://github.com/webrtc-rs/webrtc/pull/296

See this [branch](https://github.com/webrtc-rs/webrtc/tree/feature/rework-callbacks) for the full code so far

[2022-09-21 13:52] k0nserv opened #297 "Rework simulcast support"

[2022-09-22 05:25] nemosupremo opened #298 "Bandwidth Estimation with twcc"
I may have missed something but I can't seem to find a way to retrieve the estimated available bandwidth when using `configure_twcc`. Is this something provided by webrtc-rs or is it something I have to build myself?

[2022-09-22 08:21] k0nserv commented on #298
I'm not super familiar with TWCC, but isn't the primary purpose of it to produce feedback reports and send those to the remote peer? This is what our implementation does.

One way to get the data is to use an interceptor and intercept the RTCP feedback packets as they are written. I guess there's no reason we couldn't expose the underlying data though, feel free to contribute something that enable

[2022-09-22 15:06] xnorpx commented on #298
Relevant talk: https://www.youtube.com/watch?v=zQsJeHUc2TQ

You have the TWCC RTCP feedback packets available to do your own send side estimation. But as @k0nserv said you need to feed it to your app through a interceptor.

[2022-09-25 06:48] JRF63 commented on #298
If I read the draft correctly, just the RTCP packets won't be enough - the departure time of the packet and the transport sequence number set by [`SenderStream`](https://github.com/webrtc-rs/webrtc/blob/3a77ebc6e3e503612fa2bcd7a7ac8b3ac5c1e1c2/interceptor/src/twcc/sender/sender_stream.rs#L31) are also needed.

I think the `TransportCcExtension` set over there can be squeezed out from the current i

[2022-09-25 10:16] sarumjanuch commented on #298
https://github.com/signalapp/Signal-Calling-Service/blob/main/src/googcc.rs
https://github.com/signalapp/Signal-Calling-Service/blob/main/src/transportcc.rs

[2022-09-25 13:01] JRF63 commented on #298
That's AGPLv3. Not exactly legal to just plop the code over here.

[2022-09-25 13:16] k0nserv commented on #298
I'd suggest looking at Pion if anyone is interested in improving this. I believe there has been fairly significant work on interceptors like this since the port(webrtc-rs was ported from Pion)

[2022-09-30 08:17] melekes commented on #273
I'm looking at this right now.

[2022-09-30 13:25] melekes commented on #273
what is the best way to do it?

opened https://github.com/webrtc-rs/webrtc/pull/304

[2022-09-30 18:59] Mnwa opened #305 "Error on depacketize an audio/opus rtp"
Hey! I'm using your example save-to-disk-h264 and audio stream fails after a few seconds.
It's happens because I got packet with empty payload:
`Packet { header: Header { version: 2, padding: true, extension: true, marker: false, payload_type: 111, sequence_number: 3069, timestamp: 2534425974, ssrc: 3109151906, csrc: [], extension_profile: 48862, extensions: [Extension { id: 3, payload: b"\0\x03"

[2022-10-03 08:51] k0nserv commented on #305
Hey, good timing. I've just been exploring this last week. These are padding packets that libWebRTC sends periodically to ensure send rate is stable, so they're fine to ignore. It's also worth noting that the save to disk example is a bit naive since it doesn't reorder incoming packets.

[2022-10-03 10:55] k0nserv commented on #273
Well, with the merged monorepo I should think that we are okay as long as the code still compiles and the tests all pass 🤔

[2022-10-03 12:09] robashton commented on #289
(Just FYI, starting this today, in case anybody else was thinking of looking)

[2022-10-04 18:36] billylindeman commented on #206
@rainliu I've been working on an SFU based on webrtc.rs called switchboard https://github.com/billylindeman/switchboard

It's based on / compatible with pion/ion-sfu :)

Would love to make this an upstream project at some point!

[2022-10-05 10:29] KillingSpark opened #308 "Differing extmaps in an offer cause the answer to be malformed"
Hi,

So this is a bit of a weird case. I have an offer SDP looking like this (abbreviated)

[code]

Note the two differing extmap:X for the two m-lines.

This might be a malformed offer, I am not exactly sure how to interpret the standard here [RFC 5285](https://www.rfc-editor.org/rfc/rfc5285#section-5)

   range MUST be used only once for each media (or only once if the
   mappings are session le

[2022-10-05 10:43] k0nserv commented on #308
Hmm, I recall talking about this with some of the Google folks either on https://bugs.chromium.org or over at https://github.com/w3c/webrtc-pc/ but I cannot remember what the conclusion was. The question at hand here seems to be whether ext map id mappings are globally unique or unique for video and audio respectively.

I can dig later, but if you wanna have a look through those two sources there

[2022-10-05 10:52] KillingSpark commented on #308
Tbh the error should probably be on `set_remote_description`

I'll have a look into those sources maybe there are some more relevant discussions

[2022-10-05 10:58] KillingSpark commented on #308
I found a source in the RFCs for what the behaviour should be:

https://datatracker.ietf.org/doc/html/rfc8843#section-12

   specification, the identifier used for a given extension MUST
   identify the same extension across all the bundled media
   descriptions.

So just failing early in `set_remote_description` if this case is detected would be the correct handling.

[2022-10-05 11:03] k0nserv commented on #308
Yes, it seems that extension id mappings are unique per bundle. I think our code is currently wrong because it separates them for audio and video. We should both detected the error on the part of the other peer and fix our own code. This is the change that was made in libWebRTC which triggered the conversation I linked https://webrtc-review.googlesource.com/c/src/+/235826

[2022-10-05 11:06] KillingSpark commented on #308
A bit off-topic, but I think it is currently necessary to explictly add the mid extensions for both audio and video, but it is required by the standard if bundling is used. Should I open a second issue for this?

[2022-10-05 11:27] k0nserv commented on #308
Is it only required for unified or plan-b too? I feel like there ought to be a reason for it not being defaulted. Might be a hold over from plan-b(for which I believe there's an issue to remove support).

[2022-10-05 11:51] KillingSpark commented on #308
Dunno, but is there any harm in also adding it for plan-b?

[2022-10-07 08:58] #305 closed

[2022-10-07 09:04] k0nserv opened #310 "Improve NACK responder"
The [RFC for NACK](https://www.rfc-editor.org/rfc/rfc4588.html) talks about using heuristics to decide if it's worth resending RTP packets when receiving a NACK. For example, one can consider the age of the original packet and the known round trip time to make this decision.

The current implementation naively responds to all NACKs by sending every request RTP packet, this is problematic as it can

[2022-10-07 12:44] melekes opened #311 "Port: Max receive buffer size via SettingEngine"
https://github.com/pion/webrtc/pull/2192

[2022-10-07 15:29] k0nserv commented on #310
#313 WIP take on this

[2022-10-10 08:57] melekes commented on #273
See https://github.com/webrtc-rs/webrtc/pull/304#issuecomment-1271652707. Requires more thinking and design.

[2022-10-10 10:59] k0nserv opened #314 "Consider smol_str for mid/rid"
The specification recommends that `mid` and `rid` only use about 3 bytes of ASCII hence we'd benefit from storing these as [`smol_str::Smolstr`](https://docs.rs/smol_str/0.1.23/smol_str/struct.SmolStr.html) which can allocate up to 22 bytes inline, chance are we'd always avoid heap allocation for these values with this approach

[2022-10-10 16:18] k0nserv commented on #298
Relevant Pion code https://github.com/pion/interceptor/tree/master/pkg/gcc

[2022-10-11 09:10] k0nserv opened #317 "Move outbound sequence number generation to transport layer"
Currently sequence numbers for outbound RTP packets are created internally inside the track(in the case of `TrackLocalStaticSample`) and by the user in case of `TrackLocalStaticRTP`. There are several problems with this:

1. If a track is bound to two different `RTCRtpSender`s the sequence numbers used by each RTP stream will be the same. This weakens SRTP and makes known-plaintext attacks easier.

[2022-10-11 09:29] k0nserv commented on #317
One problem with this suggestion is that `TrackLocalStaticSample` has a way to propagate dropped packets via sequence number gaps which would break https://github.com/webrtc-rs/webrtc/blob/5612d59869e1a4b8d991ab129ab27103c2975f5b/webrtc/src/track/track_local/track_local_static_sample.rs#L55-L60

[2022-10-11 09:32] algesten commented on #317
Another part to this is when we implement RTX resend properly. Each RTX channel have separate SSRC and sequence number counter to the one it's repairing. It would seem logical that all sequence number generation is an internal concern and only done just before pushing the packet to the wire.

[2022-10-12 09:19] k0nserv opened #319 "Fix outbound RTCP intercept"
Currently intercepting outbound RTCP to read sent packets via `RTCPWriter` doesn't work because these outbound writers aren't configured to take part in the interceptor chain. There are issues with the underlying writer not being `Send` that prevent approaching this in the same way as `RTCPReader`

[2022-10-15 03:56] clia commented on #232
Is this issue https://github.com/webrtc-rs/turn/issues/13 the same cause of this one?

[2022-10-19 08:02] melekes opened #326 "[sctp] `max-message-size` SDP attribute is ignored"
Refs https://github.com/pion/webrtc/issues/1396

Right now maximum message size is [fixed to 65kB](https://github.com/webrtc-rs/webrtc/blob/c9409ba18ece3516d4346811fde7bb564ce8d2e6/webrtc/src/sctp_transport/mod.rs#L107). We should respect `max-message-size` attribute from the remote's SDP.

[2022-10-21 22:51] awestlake87 opened #328 "Possible to encode raw RGB frames in a video track?"
Hey, I've got some code that generates raw RGB frames and was wondering whether it's currently possible to encode that into a video stream? Just looking around (#281), I saw that it might be possible to encode it into VP8 first, but haven't tried it yet.

Is that the approach you'd recommend? Are there any alternatives aside from encoding it into an intermediate format? (I'm not all that worried a

[2022-10-22 09:35] k0nserv commented on #328
Hey,

fundamentally WebRTC carries encoded media in RTP for media transport. Here your choices are either VP8(libvpx) or h264(various encoders) for best support. There's also VP9 and h265 but I don't believe they are broadly supported.

In any case the process is the same:

1. Initialise encoder
2. Encode one raw frame
3. Send the frame(`TrackLocalStaticSample` is useful for this)
4. Go To 2

This

[2022-10-31 16:11] k0nserv commented on #267
cc @KillingSpark @niklaskorz @morajabi @sax @stuqdog @KallDrexx @xnorpx @rainliu @morajabi @billylindeman

I'd to go with my proposal above unless there's a strong argument against that

[2022-10-31 16:48] KallDrexx commented on #267
Makes sense to me.  Almost all my work ends up on the latest rust compiler.

[2022-10-31 17:09] k0nserv commented on #267
Implicit in my proposal is that changes to MSRV will not be considered breaking either, just making this explicit

[2022-11-01 15:54] k0nserv commented on #267
I made a PR that updates the minimum to 1.60.0 and documents the suggested proposal

https://github.com/webrtc-rs/webrtc/pull/337

[2022-11-01 16:59] k0nserv commented on #259
I fixed some more cases to do with TWCC in https://github.com/webrtc-rs/webrtc/pull/324

[2022-11-02 10:47] k0nserv commented on #267
I've merged #337 so I'm closing this now.

Policy is to have an MSRV for compilers released in the last six months and bump the minimum version as non breaking.

[2022-11-02 10:47] #267 closed

[2022-11-03 09:57] chuigda opened #339 "[DTLS] potentially incorrect/buggy behavior of `webrtc_dtls::crypto::verify_signature`"
I'm writting a WebRTC MCU "Client". After the ICE gathering finished, the MCU server initiates a DTLS connection. However, the server certificate was rejected by the DTLS module of `webrtc-rs`:

![图片](https://user-images.githubusercontent.com/29348140/199690107-3f1b9b43-1724-4c3a-925f-9181babf6ac3.png)

The same certificate was accepted by other WebRTC clients (Firefox, for example):

![图片](https:

[2022-11-03 10:24] chuigda commented on #339
[This patch](https://github.com/chuigda/webrtc/commit/1bab5e2b97b2f2eaffd2e737125e598ce0a67fe8) worked for me.

I also noted that there are also `_FOR_LEGACY_USE_ONLY` variants to `RSA_PKCS1_1024_8192_SHA512_FOR_LEGACY_USE_ONLY`. Perhaps that also needs a bit fix.

[2022-11-11 12:58] muenchow opened #347 "[Interceptor] panic in calculate_rtt_ms"
When leaving a webrtc connection running for a longer time, a panic was emitted see log below.
```panicked at 'attempt to subtract with overflow', /home/maxmuen/.cargo/registry/src/github.com-1ecc6299db9ec823/interceptor-0.8.0/src/stats/interceptor.rs:737:15```

[2022-11-14 11:05] k0nserv commented on #347
Hey @muenchow,

Thanks for reporting this. I guess it can happen. We already handle rtt as an optional so it should be easy enough to change the signature of `calculate_rtt_ms` to `fn calculate_rtt_ms(now: u32, delay: u32, last_report: u32) -> Option<f64>` and use `checked_sub` instead as a fix.

Would you be open to contributing?

[2022-11-18 09:47] #339 closed

[2022-11-22 02:51] #232 closed

[2022-11-24 21:43] harrynull commented on #193
I wonder what the current state of AV1 support is. I added the codec but apparently I also need a payloader for it?

[2022-11-25 01:54] chuigda commented on #347
Let me help.

[2022-11-25 10:01] algesten commented on #297
We need to decide what `TrackLocal` really means.

* Is it codec agnostic?

[2022-11-25 21:26] Wicpar opened #351 "Limited Web (Wasm through js_sys) layer for code reuse ?"
Hi,

I was wondering if there was a way to reuse code written with this lib in a frontend wasm project, obviously not all features, but maybe a subset.

[2022-11-25 22:17] evan-brass commented on #351
I've been using a fork of this project compiled to WASM and running it inside Deno for a couple weeks now: [https://github.com/evan-brass/webrtc-deno]. Specifically I'm using the SCTP crate (which depends on Util), and I've tried using the DataChannel crate.  Some of the other crates compile, but I don't really know which of them actually work.

I made some ugly patches to get it to work for my us

[2022-11-25 23:59] Wicpar commented on #351
You can't open sockets like you want inside a browser, you are forced to use the Webrtc API through JS, so it requires two codebases for the client and the server.  i was wondering if there is a project that allows writing for both at the same time. Essentially the server behaves like an additional peer, with a few extra features so having the same codebase would be advantageous.

[2022-11-26 00:13] evan-brass commented on #351
I'm not aware of a crate that provides a common interface and wraps over webrtc-rs and [web_sys::RtcPeerConnection](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.RtcPeerConnection.html), but I also haven't looked.  Maybe one of the maintainers knows of one?

[2022-11-28 10:08] k0nserv commented on #351
There's been previous discussions to this effect in Discord. As you identify we cannot run via WASM in the browser since direct socket access is not possible, but Pion implements a WASM shim that allows using Pion and the browser WebRTC API transparently(What @evan-brass suggests). We should be able to port this over from Pion.

The various files named `*_js.go` in `pion/webrtc` are worth reviewin

[2022-11-28 10:09] k0nserv commented on #347
Fixed in #350. Thanks @muenchow for reporting and @chuigda for fixing

[2022-11-28 10:09] #347 closed

[2022-11-28 10:14] k0nserv commented on #297
Hmm, I'm struggling to understand why that's relevant here. Can you expand on the question?

[2022-11-28 10:20] k0nserv commented on #193
It depends. If you're only forwarding RTP packets there should be no need for a payloader, but if you're using `TrackLocalStaticSample`, then yes a payloader is needed.

If you want to contribute it that would be very welcome, the details on how to are available in [RTP Payload Format For AV1 (v1.0)](https://aomediacodec.github.io/av1-rtp-spec/)

[2022-11-28 10:52] algesten commented on #297
Looking at the code TrackLocal implementations are currently hard bound to one codec (it's passed in as argument to new).

In spec, a track is just raw data, not codec specific.

Technically one can switch sending for any of the negotiated PT – which can be different codes.

So the question is how we see the TrackLocal abstraction.

The bind call currently returns one single codec, which goes agai

[2022-11-28 10:57] k0nserv commented on #297
Right, but is that relevant to simulcast? Seems like a broader concern.

@Sean-Der can you provide insight from Pion?

[2022-11-28 12:00] algesten commented on #297
If you want to handle the different levels of simulcast as one track, we need to discuss what a track is.

Different levels could be different codecs.

[2022-11-28 12:16] k0nserv commented on #297
Hmm, isn't the common case that the each use the same codec(payload type) just at different bitrates? Generally speaking it should be possible to send any negotiated payload type but this seems like an orthogonal concern that we just don't support atm. Am I missing something?

[2022-11-28 12:21] algesten commented on #297
That's not how it's used in our current live server i think. We use software decoder for he lower bitrate.

Not unusual.

[2022-11-28 12:26] algesten commented on #297
Or did I make that up? Hard to tell in my current state.

[2022-11-28 13:45] k0nserv commented on #297
Hmm I see the confusion. This issue is about ingress currently, but `TrackLocal` is an egress concern. However, the issues should apply to both ingress and egress.

One can still make the choice of using a software encoder vs hardware encoder if we don't support multiple payloads. All simulcast tracks are still one codec, e.g. h264, and with rid the choice can be made to use a different decoder ba

[2022-11-28 13:54] lolgesten commented on #297
If `TrackLocal::bind` didn't return `RTCRtpCodecParameters`, we could probably just save away `TrackLocalContext` and lazy decide which PT to use once we see the packeted data later in `write_sample_with_extensions` or `write_rtp_with_extensions`.

This would also open up for simulcast, because we could lazily let RID be a parameter that decides which PT to use.

It solves both the "I can send on

[2022-11-28 14:21] k0nserv commented on #297
We only need to solve this for the `TrackLocalSample` case, right? With `TrackLocalStaticRTP` the user would directly created the appropriate RTP packets with correct RID and PT. It should be noted that `TrackLocalStaticRTP` already keeps track of several bindings via fuzzy codec matching under the hood. However, when sending it doesn't take this into account, it just overrides the payload type fo

[2022-11-28 17:32] algesten commented on #297
I'm unclear on whether you can have multiple "bindings" to the same peer connection. It seems a bit like it's maybe to do about sending the same track to multiple connections?

[2022-11-28 23:44] Wicpar opened #353 "Force high bitrate for incoming video"
Hi,
I'm using a modified version of the broadcast example to achieve just that in an production environment, is there a way to force a high bitrate for incoming video ?

[2022-11-28 23:53] Wicpar opened #354 "Audio choppy if added to the broadcast example"
I'm using a modified version of the broadcast example to use in production,
however audio is very choppy, and generally has a 2 second-up and 2 second down patterns.
It is not due to the sender i believe as the receivers receive different amounts of audio, unless it is commulative with other issues on the frontend.

[2022-11-29 05:42] Wicpar commented on #354
Turns out it has been my focusrite audio drivers hanging the whole system.

[2022-11-29 05:42] #354 closed

[2022-11-29 11:50] k0nserv commented on #353
`RTCRtpSender.sendEncodings` with `maxBitrate` can be used to control it somewhat. However, browsers will typically use available bandwidth estimates and other network signals to adjust the bitrate on the fly.

In my experience browsers will default to about 2.5Mbps for video streams but then adjust downwards if the network conditions aren't sufficiently good

[2022-11-30 00:09] Wicpar commented on #353
i see, i'm already doing that, at 10Mbits, depending on the device the video and audio is still very compressed, i was wondering if there is a way in sdp or something else withg server side hackery